In [16]:
import pandas as pd
import json

df = pd.read_csv('CCFT_C+PBC.csv')

In [17]:
df

,Author,Year,Specimen,D,D_units,t,t_units,Fy,Fy_units,Fu,...,d_at_Pexp,d_at_Pexp_units,et,et_units,eb,eb_units,L,L_units,Tags,Notes
0,Kloppel & Goder,1957,7,3.74,in,0.492,in,39830.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
1,Kloppel & Goder,1957,8,3.74,in,0.502,in,39540.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
2,Kloppel & Goder,1957,9,3.74,in,0.488,in,39540.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
3,Kloppel & Goder,1957,10,3.74,in,0.496,in,39830.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
4,Kloppel & Goder,1957,11,3.74,in,0.500,in,39540.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,Liu et al.,2023,CC-880-A,879.50,mm,15.550,mm,260.0,MPa,410.0,...,NaN,NaN,0.0,mm,NaN,NaN,2198.00,mm,NaN,NaN
1194,Liu et al.,2023,CC-275-B1,275.00,mm,4.180,mm,281.0,MPa,421.0,...,NaN,NaN,0.0,mm,NaN,NaN,689.00,mm,NaN,NaN
1195,Liu et al.,2023,CC-275-B2,275.00,mm,4.140,mm,281.0,MPa,421.0,...,NaN,NaN,0.0,mm,NaN,NaN,688.00,mm,NaN,NaN
1196,Liu et al.,2023,CC-550-B,551.30,mm,7.860,mm,263.0,MPa,435.0,...,NaN,NaN,0.0,mm,NaN,NaN,1376.00,mm,NaN,NaN
1197,Liu et al.,2023,CC-1100-B,1100.40,mm,16.480,mm,267.0,MPa,443.0,...,NaN,NaN,0.0,mm,NaN,NaN,2748.00,mm,NaN,NaN

In [18]:
# 保留['fc_type'] 为 cylinder 或者 Cylinder的行
df = df[df['fc_type'].str.lower() == 'cylinder']
df

,Author,Year,Specimen,D,D_units,t,t_units,Fy,Fy_units,Fu,...,d_at_Pexp,d_at_Pexp_units,et,et_units,eb,eb_units,L,L_units,Tags,Notes
0,Kloppel & Goder,1957,7,3.74,in,0.492,in,39830.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
1,Kloppel & Goder,1957,8,3.74,in,0.502,in,39540.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
2,Kloppel & Goder,1957,9,3.74,in,0.488,in,39540.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
3,Kloppel & Goder,1957,10,3.74,in,0.496,in,39830.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
4,Kloppel & Goder,1957,11,3.74,in,0.500,in,39540.0,psi,NaN,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,Wei et al.,2020,C-22-900-140-2,140.00,mm,6.270,mm,1153.0,MPa,NaN,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1171,Wei et al.,2020,C-17-900-140-1,140.00,mm,8.360,mm,813.0,MPa,NaN,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1172,Wei et al.,2020,C-17-900-140-2,140.00,mm,8.360,mm,813.0,MPa,NaN,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1173,Wei et al.,2020,C-13-900-140-1,140.00,mm,10.460,mm,773.0,MPa,NaN,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1174,Wei et al.,2020,C-13-900-140-2,140.00,mm,10.460,mm,773.0,MPa,NaN,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN

In [19]:
# 获得每一列的unique值
unique_values = {col: df[col].unique() for col in df.columns}
unique_values

{'Author': array(['Kloppel & Goder', 'Salani & Sims', 'Chapman & Neogi', 'Furlong',
        'Gardener & Jacobson', 'Gardener', 'Knowles & Park',
        'Masuo et al.', 'Sakino & Hayashi', 'Rangan & Joyce',
        'Prion & Boehme', "O'Shea & Bridge", 'Schneider',
        'Kilpatrick & Rangan', 'Tan et al.', 'Yamamoto et al.',
        'Uenaka et al.', 'Sakino et al.', 'Liew & Xiong', 'Lee et al.',
        'Muciaccia et al.', 'Portoles et al.', 'Dundu', 'Guler et al.',
        'Karmazínová', 'Ekmekyapar & AL-Eliwi', 'Romero et al.',
        'Ibañez et al.', 'Wei et al.'], dtype=object),
 'Year': array(['1957', '1964', '1966', '1967', '1968', '1969', '1991', '1992',
        '1994', '1997a', '1998', '1999', '2000', '2003', '2004', '2009',
        '2011', '2012', '2013', '2015', '2016', '2017', '2018', '2020'],
       dtype=object),
 'Specimen': array(['7', '8', '9', '10', '11', '12', '13', '14', '15', '41', '42',
        '43', '44', '45', '46', '47', '48', '49', '63', '64', '65', '66',
        '69', '70', '71', '72', '73', '74', '75', '76', '83', '84', '85',
        '86', '89', '90', '91', '92', '95', '96', '97', '98', '101', '102',
        '103', '104', '16F', '17F', '18F', '49F', '50F', '22F', '23F',
        '24F', '51F', '52F', '28F', '29F', '30F', '71F', '40F', '41F',
        '42F', 'A1', 'A4', 'A5', 'A6', 'B1', 'B1X', 'B2', 'B2X', 'DF1',
        'DF1X', 'DF2', 'DF2X', 'SC1', 'SC2', 'SC3', 'SC4', 'Column-1',
        'Column-2', 'Column-8', 'Column-9', 'Column-10', 'Column-11',
        'Column-12', 'Column-13', '1', '2', '3', '4', '5', '6', '16', '18',
        '19', '20', '21', '22', '23', '24', '25', '1a', '2a', '3a', '4a',
        '5a', '6a', '6b', '7a', '7b', '8a', '8b', 'Column-3', 'Column-4',
        'Column-5', 'Column-7', 'BeamColumn-1', 'BeamColumn-2',
        'BeamColumn-3', 'BeamColumn-4', 'BeamColumn-5', 'BeamColumn-6',
        '1A2', '1A4', '1A6', '1G2', '1G6', '2A2', '2A4', '2A6', '2G2',
        '2G6', 'L-20-1', 'L-20-2', 'H-20-1', 'H-20-2', 'L-32-1', 'L-32-2',
        'H-32-1', 'H-32-2', 'L-58-1', 'L-58-2', 'H-58-1', 'H-58-2', 'B3',
        'B5', 'B7', 'BP9', 'BP10', 'R12CF1', 'R12CF2', 'R12CF3', 'R12CF4',
        'R12CF5', 'R12CF7', 'S12E210B', 'C1', 'C2', 'C3', 'SC-0', 'SC-1',
        'SC-2', 'SC-3', 'SC-4', 'SC-5', 'SC-6', 'SC-7', 'SC-9', 'SC-10',
        'SC-11', 'SC-12', 'SC-13', 'SC-14', 'SC-15', 'SC-16', 'SC-17',
        'SC-18', 'SC-19', 'SC-20', 'SC-21', 'SC-22', 'SC-23', 'SC-24',
        'SC-25', 'SC-26', 'SC-27', 'SC-28', 'SC-29', 'SC-30', 'SC-31',
        'SC-32', 'SC-33', 'SC-34', 'SC-35', 'SC-36', 'SC-37', 'SC-38',
        'SC-39', 'SC-40', 'A1-1', 'A1-2', 'A2-1', 'A2-2', 'A3-1', 'A3-2',
        'A3-3', 'A4-1', 'A4-2', 'A4-3', 'A5-1', 'A5-2', 'A5-3', 'B-1',
        'B-2', 'B-3', 'S30CS50B', 'S20CS50A', 'S16CS50B', 'S12CS50A',
        'S10CS50A', 'S30CS80A', 'S20CS80B', 'S16CS80A', 'S12CS80A',
        'S10CS80B', 'S30CS10A', 'S20CS10A', 'S16CS10A', 'S12CS10A',
        'S10CS10A', 'S30E250B', 'S20E250A', 'S12E250A', 'S10E250A',
        'S30E150B', 'S20E150A', 'S16E150B', 'S12E150A', 'S10E150A',
        'S30E280A', 'S20E280B', 'S10E280B', 'S30E180A', 'S20E180B',
        'S16E180A', 'S10E180B', 'S30E210B', 'S20E210B', 'S10E210B',
        'S30E110B', 'S20E110B', 'S16E110B', 'S12E110B', 'C10A-2A-1',
        'C10A-2A-2', 'C10A-2A-3', 'C20A-2A', 'C30A-2A', 'C10A-3A-1',
        'C10A-3A-2', 'C20A-3A', 'C30A-3A', 'C10A-4A-1', 'C10A-4A-2',
        'C20A-4A', 'C30A-4A', 't10-000', 't16-000', 't23-000', 'CC4-A-2',
        'CC4-A-4-1', 'CC4-A-4-2', 'CC4-A-8', 'CC4-C-2', 'CC4-C-4-1',
        'CC4-C-4-2', 'CC4-C-8', 'CC4-D-2', 'CC4-D-4-1', 'CC4-D-4-2',
        'CC4-D-8', 'CC6-A-2', 'CC6-A-4-1', 'CC6-A-4-2', 'CC6-A-8',
        'CC6-C-2', 'CC6-C-4-1', 'CC6-C-4-2', 'CC6-C-8', 'CC6-D-2',
        'CC6-D-4-1', 'CC6-D-4-2', 'CC6-D-8', 'CC8-A-2', 'CC8-A-4-1',
        'CC8-A-4-2', 'CC8-A-8', 'CC8-C-2', 'CC8-C-4-1', 'CC8-C-4-2',
        'CC8-C-8', 'CC8-D-2', 'CC8-D-4-1', 'CC8-D-4-2', 'CC8-D-8',
        'CFT-S-100-0P', 'CFT-l-100-0P', 'CFT-L-100-0P', 'O49E24_30',
        'O49C36_30', 'O49E36_30', 'O49E48_30', 'O49E60_30', 'O49E24_60',
        'O49E36_60', 'O49E48_60', 'O57C30_30', 'O57E30_30', 'O57E48_30',
        'NVC_80_1', 'NVC_80_2', 'NVC_200_1', 'NVC_200_2', 'NVC_300_1',
        'NVC_300_2', 'NVC_440_1', 'NVC_440_2', 'SCC_80_1', 'SCC_80_2',
        'SCC_200_1', 'SCC_200_2', 'SCC_300_1', 'SCC_300_2', 'SCC_440_1',
        'SCC_440_2', 'C4', 'C5', 'C6', 'C9', 'C10', 'C11', 'C12', 'C13',
        'C14', 'C18', 'C19', 'C20', 'C21', 'C22', 'C23', 'C24', 'C25',
        'C26', 'C27', 'C28', 'C29', 'C30', 'C31', 'C32', 'C33', 'C34',
        'C35', 'C36', 'C37', 'S1-1', 'S1-2', 'S1-3', 'S1-4', 'S1-5',
        'S1-6', 'S1-7', 'S1-8', 'S1-9', 'S1-10', 'S1-11', 'S1-12', 'S2-1',
        'S2-2', 'S2-3', 'S2-4', 'S2-5', 'S2-6', 'S2-7', 'S2-8', 'S2-9',
        'S2-10', 'S2-11', 'S2-12', 'CF2.5-1', 'CF2.5-2', 'CF2.5-3',
        'CF3-1', 'CF3-2', 'CF3-3', 'CF3.3-1', '17', 'TS2-1', 'TS2-2',
        'TS2-3', 'TS3', 'TS5-1', 'TS5-2', 'TS5-3', 'TS6-1', 'TS6-2',
        'TS6-3', 'TS8-1', 'TS8-2', 'TS8-3', 'TS9-1', 'TS9-2', 'TS9-3',
        '114.3-2.74-300-56', '114.3-2.74-300-66', '114.3-2.74-300-107',
        '114.3-5.90-300-56', '114.3-5.90-300-66', '114.3-5.90-300-107',
        '114.3-2.74-600-56', '114.3-2.74-600-66', '114.3-2.74-600-107',
        '114.3-5.90-600-56', '114.3-5.90-600-66', '114.3-5.90-600-107',
        '114.3-2.74-900-56', '114.3-2.74-900-66', '114.3-2.74-900-107',
        '114.3-5.90-900-56', '114.3-5.90-900-66', 'CFST1', 'CFST2',
        'C168.3x2.8_30', 'C168.3x2.8_90', 'C159x3_30', 'C159x3_90',
        'C120x2.5_30', 'C120x2.5_90', 'C100x3_30', 'C100x3_90',
        'C101.6x3_30', 'C101.6x3_31', 'C-32-900-60-1', 'C-22-900-60-1',
        'C-17-900-60-1', 'C-13-900-60-1', 'C-23-345-140-1',
        'C-23-345-140-2', 'C-17-345-140-1', 'C-17-345-140-2',
        'C-12-345-140-1', 'C-12-345-140-2', 'C-8-345-140-1',
        'C-8-345-140-2', 'C-32-900-140-1', 'C-32-900-140-2',
        'C-22-900-140-1', 'C-22-900-140-2', 'C-17-900-140-1',
        'C-17-900-140-2', 'C-13-900-140-1', 'C-13-900-140-2'], dtype=object),
 'D': array([  3.74 ,   8.504,   4.764,   1.   ,   1.5  ,   2.   ,   2.75 ,
          3.   ,  14.   ,   5.011,   5.002,   5.514,   5.527,   6.621,
          6.628,   6.626,   4.5  ,   6.   ,   5.   ,   4.003,   4.005,
          4.004,   4.75 ,   4.757,   4.756,   6.008,   6.012,   6.009,
          6.007,   6.006,   3.011,   3.009,   3.01 ,   6.64 ,   6.66 ,
          6.62 ,   3.5  ,   3.25 , 190.7  , 267.4  , 178.   , 179.   ,
        174.   , 101.6  , 152.   , 190.   , 140.8  , 141.4  , 140.   ,
         76.   , 101.7  , 101.5  , 125.   , 127.   , 133.   , 108.   ,
        165.   , 101.4  , 101.9  , 101.8  , 216.4  , 318.3  , 101.3  ,
        318.5  , 158.7  , 157.5  , 157.7  , 149.   , 301.   , 300.   ,
        450.   , 122.   , 239.   , 238.   , 361.   , 360.   , 109.   ,
        222.   , 337.   , 219.   , 240.   , 480.   , 600.   , 139.6  ,
        100.   , 160.1  , 114.85 , 127.3  , 139.2  , 152.4  , 165.1  ,
        193.7  ,  76.21 ,  76.12 ,  76.11 ,  76.19 ,  75.84 ,  75.97 ,
         76.18 , 159.   , 114.3  , 168.3  , 120.   ]),
 'D_units': array(['in', 'mm'], dtype=object),
 't': array([ 0.492,  0.502,  0.488,  0.496,  0.5  ,  0.504,  0.144,  0.145,
         0.134,  0.152,  0.154,  0.141,  0.148,  0.149,  0.138,  0.16 ,
         0.162,  0.159,  0.238,  0.235,  0.256,  0.248,  0.147,  0.157,
         0.221,  0.213,  0.215,  0.219,  0.146,  0.224,  0.216,  0.222,
         0.214,  0.035,  0.109,  0.065,  0.049,  0.44 ,  0.186,  0.314,
         0.064,  0.116,  0.381,  0.194,  0.178,  0.176,  0.125,  0.061,
         0.095,  0.121,  0.122,  0.161,  0.124,  0.193,  0.067,  0.068,
         0.066,  0.104,  0.103,  0.142,  0.197,  0.23 ,  0.055,  6.   ,
         7.   ,  9.   ,  5.5  ,  3.   ,  1.6  ,  1.7  ,  1.11 ,  1.13 ,
         6.5  ,  6.68 ,  2.2  ,  2.4  ,  1.   ,  2.   ,  3.5  ,  4.7  ,
         4.5  ,  2.82 ,  1.94 ,  1.52 ,  0.86 ,  3.03 ,  6.61 , 10.36 ,
         0.9  ,  1.5  ,  2.14 ,  2.96 ,  4.54 ,  6.47 ,  6.3  , 12.   ,
         4.   ,  5.   ,  5.7  ,  2.52 ,  2.51 ,  2.48 ,  2.99 ,  2.98 ,
         3.31 ,  2.74 ,  5.9  ,  8.   ,  2.8  ,  2.5  ,  4.42 ,  6.27 ,
         8.36 , 10.46 ,  6.21 ,  8.19 , 11.58 , 16.72 ]),
 't_units': array(['in', 'mm'], dtype=object),
 'Fy': array([3.9830e+04, 3.9540e+04, 4.0390e+04, 3.9970e+04, 4.0540e+04,
        4.7360e+04, 5.6040e+04, 4.8640e+04, 4.1250e+04, 4.3380e+04,
        4.1820e+04, 4.1530e+04, 5.6470e+04, 5.7040e+04, 4.2810e+04,
        5.8740e+04, 4.8210e+04, 4.8930e+04, 5.1490e+04, 4.7510e+04,
        4.4660e+04, 4.9920e+04, 4.9780e+04, 4.7930e+04, 4.6650e+04,
        7.6000e+04, 5.1500e+04, 4.0100e+04, 5.3750e+04, 4.7700e+04,
        3.8500e+04, 3.9000e+04, 4.1900e+04, 4.3200e+04, 6.0000e+01,
        4.8000e+01, 8.7760e+04, 6.5500e+04, 6.0210e+04, 9.1870e+04,
        5.2690e+04, 4.6000e+04, 3.2100e+04, 3.7800e+04, 5.8000e+04,
        7.0000e+04, 5.1500e+03, 4.7000e+03, 2.8890e+03, 2.5340e+03,
        2.7120e+03, 2.1800e+02, 2.7000e+02, 3.2800e+02, 2.0310e+02,
        1.8570e+02, 2.8500e+02, 3.1300e+02, 5.3700e+02, 4.3500e+02,
        4.1000e+02, 2.3200e+02, 2.5800e+02, 3.5200e+02, 4.2900e+02,
        3.5800e+02, 3.6330e+02, 2.5640e+02, 3.0610e+02, 2.1070e+02,
        3.7100e+02, 4.5200e+02, 3.3100e+02, 2.2100e+02, 3.0800e+02,
        2.8600e+02, 2.7900e+02, 5.7600e+02, 5.0700e+02, 5.2500e+02,
        8.5300e+02, 8.4300e+02, 8.2300e+02, 3.0000e+02, 4.0500e+02,
        3.9300e+02, 4.8900e+02, 4.9800e+02, 4.6800e+02, 5.1700e+02,
        4.7900e+02, 3.7400e+02, 3.2200e+02, 3.2000e+02, 3.5405e+02,
        3.4520e+02, 3.6195e+02, 4.8820e+02, 3.9430e+02, 4.3820e+02,
        4.3030e+02, 3.9880e+02, 3.9220e+02, 2.7800e+02, 3.0500e+02,
        3.9400e+02, 3.7700e+02, 3.7600e+02, 4.5700e+02, 4.8700e+02,
        3.8000e+02, 4.4400e+02, 3.5640e+02, 3.4440e+02, 4.7540e+02,
        2.3500e+02, 3.5500e+02, 3.1780e+02, 3.3628e+02, 4.4552e+02,
        4.3209e+02, 4.3282e+02, 4.2503e+02, 1.0200e+03, 1.1530e+03,
        8.1300e+02, 7.7300e+02, 3.5900e+02, 3.8900e+02, 3.6700e+02]),
 'Fy_units': array(['psi', 'ksi', 'kgscm', 'MPa'], dtype=object),
 'Fu': array([      nan,  82300.  , 106700.  ,  72580.  ,  74450.  , 112300.  ,
         74150.  ,  50500.  ,  57200.  ,  51000.  ,  64800.  ,  81300.  ,
         77100.  ,   6160.  ,   6050.  ,    299.  ,    307.6 ,    495.  ,
           475.  ,    466.9 ,    369.  ,    381.2 ,    322.1 ,    340.  ,
           284.  ,    636.  ,    531.  ,    548.  ,    940.  ,    875.  ,
           863.  ,    550.  ,    567.  ,    539.  ,    578.  ,    631.  ,
           638.  ,    440.  ,    432.35,    430.4 ,    457.85,    549.6 ,
           480.2 ,    500.9 ,    480.15,    479.1 ,    470.8 ,    381.  ,
           374.  ,    402.  ]),
 'Fu_units': array([nan, 'psi', 'kgscm', 'MPa'], dtype=object),
 'fc': array([2.9400e+03, 3.6200e+03, 3.3200e+03, 4.3200e+03, 3.4900e+03,
        3.0600e+03, 3.5100e+03, 3.4300e+03, 4.0350e+03, 2.6000e+03,
        3.0900e+03, 4.0400e+03, 3.0100e+03, 3.9500e+03, 5.5200e+03,
        4.7600e+03, 3.0400e+03, 3.4000e+03, 9.6000e+03, 4.0000e+03,
        4.0600e+03, 4.7400e+03, 4.5600e+03, 6.2600e+03, 3.3400e+03,
        4.2000e+00, 3.0500e+00, 3.7500e+00, 5.1000e+00, 4.9500e+03,
        4.5200e+03, 4.9900e+03, 4.2900e+03, 3.7600e+03, 3.0300e+03,
        3.3500e+03, 6.0900e+03, 6.3000e+03, 5.9300e+03, 4.8300e+03,
        5.3000e+03, 4.8700e+03, 3.8600e+03, 4.7500e+03, 4.7700e+03,
        3.9800e+03, 5.8050e+03, 5.7450e+03, 5.6500e+03, 6.0600e+03,
        5.9250e+03, 5.9950e+03, 5.3650e+03, 6.0000e+03, 5.7000e+02,
        4.9300e+02, 2.2600e+02, 4.6300e+02, 2.4400e+02, 4.4500e+02,
        4.6600e+02, 6.7400e+01, 7.3000e+01, 8.5000e+01, 1.1030e+02,
        9.4700e+01, 1.1390e+02, 2.8180e+04, 2.3805e+04, 5.8000e+01,
        8.4700e+01, 7.7400e+01, 4.8300e+01, 4.1000e+01, 8.0200e+01,
        7.4700e+01, 1.0800e+02, 1.1270e+02, 2.3200e+01, 2.4300e+01,
        2.4200e+01, 4.0200e+01, 3.8300e+01, 3.9300e+01, 5.1300e+01,
        4.6800e+01, 5.2500e+01, 1.8700e+01, 2.5400e+01, 4.0500e+01,
        7.7000e+01, 4.1100e+01, 8.0300e+01, 8.5100e+01, 9.9000e+01,
        1.0000e+02, 3.1500e+01, 5.9000e+01, 6.2000e+01, 3.2700e+01,
        3.4500e+01, 6.5790e+01, 7.1640e+01, 9.5630e+01, 9.3010e+01,
        3.9430e+01, 3.6680e+01, 7.1740e+01, 7.9550e+01, 9.4560e+01,
        9.0400e+01, 3.5390e+01, 3.0540e+01, 7.0160e+01, 6.1000e+01,
        9.5430e+01, 8.1660e+01, 3.8670e+01, 3.9560e+01, 7.1860e+01,
        7.2490e+01, 8.6390e+01, 9.6740e+01, 8.7980e+01, 9.6970e+01,
        1.0733e+02, 9.7920e+01, 8.7380e+01, 7.4750e+01, 8.3080e+01,
        9.8500e+01, 4.0300e+01, 3.0900e+01, 1.4500e+02, 3.7700e+01,
        3.9900e+01, 4.0100e+01, 7.5700e+01, 1.2010e+02, 1.1600e+02,
        1.0980e+02, 1.1070e+02, 9.1400e+01, 2.7000e+01, 8.7100e+01,
        5.6700e+01, 8.2100e+01, 5.6200e+01, 6.6750e+01, 1.0720e+02,
        4.0000e+01, 1.4200e+02, 3.7710e+01, 9.3740e+01, 3.3390e+01,
        9.0850e+01, 4.1440e+01, 9.4680e+01, 3.4040e+01, 9.3510e+01,
        1.2500e+02]),
 'fc_units': array(['psi', 'ksi', 'kgscm', 'MPa', 'kPa'], dtype=object),
 'fc_type': array(['cylinder', 'Cylinder'], dtype=object),
 'Pexp': array([2.12900e+02, 2.10800e+02, 2.03900e+02, 2.28800e+02, 2.26600e+02,
        2.32400e+02, 1.99300e+02, 2.06100e+02, 1.47500e+02, 1.54300e+02,
        1.27400e+02, 1.36200e+02, 1.29400e+02, 1.20600e+02, 1.27200e+02,
        1.09600e+02, 2.30000e+02, 4.12400e+02, 5.14600e+02, 5.03300e+02,
        5.53400e+02, 5.44300e+02, 6.30300e+02, 6.59200e+02, 1.12000e+02,
        1.06300e+02, 9.28100e+01, 1.56300e+02, 1.67800e+02, 1.88100e+02,
        1.94900e+02, 2.24400e+02, 2.47100e+02, 2.42500e+02, 1.44000e+02,
        1.41500e+02, 1.69800e+02, 1.76800e+02, 1.83400e+02, 1.96400e+02,
        1.94500e+02, 3.87000e+00, 3.34000e+00, 3.24000e+00, 3.54000e+00,
        3.49000e+00, 2.42000e+01, 2.72000e+01, 2.40000e+01, 2.54000e+01,
        2.59000e+01, 2.57000e+01, 2.71000e+01, 5.19000e+01, 5.09000e+01,
        5.51000e+01, 7.20000e+01, 2.57600e+03, 2.40800e+03, 7.90700e+02,
        1.67100e+03, 2.89000e+02, 2.93500e+02, 6.63000e+02, 4.10000e+02,
        4.51000e+02, 5.02000e+02, 4.75000e+02, 3.92000e+02, 1.60000e+02,
        1.70000e+02, 1.53400e+02, 1.62200e+02, 1.64800e+02, 1.41000e+02,
        1.40000e+02, 1.48000e+02, 1.84000e+05, 1.80000e+05, 2.50000e+05,
        2.40000e+05, 2.60000e+05, 2.45650e+05, 2.13500e+05, 2.70000e+05,
        2.11000e+05, 1.98000e+05, 6.54000e+05, 6.55000e+05, 5.50000e+04,
        8.00000e+04, 9.25000e+04, 7.42500e+04, 9.77000e+04, 8.37000e+04,
        9.74000e+04, 1.85000e+05, 2.06000e+05, 1.70000e+05, 1.55000e+05,
        2.13000e+05, 2.36000e+05, 2.54000e+05, 2.62000e+05, 2.98000e+05,
        2.74000e+05, 2.94000e+05, 2.99000e+05, 3.50000e+05, 3.22000e+05,
        3.29000e+05, 4.42000e+05, 4.43000e+05, 4.46000e+05, 1.38200e+05,
        1.60000e+05, 1.60800e+05, 2.06500e+05, 2.23000e+05, 5.05000e+04,
        6.62000e+04, 9.00000e+04, 1.10000e+05, 1.19200e+05, 9.09000e+04,
        8.01000e+04, 3.95000e+04, 3.93250e+04, 2.83000e+04, 1.50000e+04,
        3.12300e+02, 2.66300e+02, 2.10000e+02, 3.21000e+02, 2.17500e+02,
        5.28300e+02, 4.62300e+02, 3.69700e+02, 5.29000e+02, 3.98000e+02,
        2.98000e+02, 2.91000e+02, 3.28000e+02, 3.24000e+02, 1.85000e+02,
        2.08000e+02, 2.07000e+02, 1.34000e+02, 1.33000e+02, 1.64000e+02,
        1.71000e+02, 4.30000e+02, 2.35000e+02, 3.50000e+02, 1.90000e+02,
        3.15000e+02, 2.80000e+02, 2.20000e+02, 1.26000e+02, 1.55000e+03,
        1.45800e+03, 1.54800e+03, 1.44800e+03, 1.86300e+03, 1.89500e+03,
        3.03000e+03, 2.94000e+03, 3.14000e+03, 2.46200e+03, 3.05500e+03,
        3.00000e+03, 2.43800e+03, 8.81000e+02, 1.82500e+03, 2.71500e+03,
        2.46000e+02, 1.84000e+02, 1.62000e+02, 1.21000e+02, 1.07000e+02,
        9.60000e+01, 3.61000e+02, 3.09000e+02, 2.75000e+02, 2.40000e+02,
        1.88000e+02, 1.58000e+02, 1.57000e+02, 1.83000e+02, 1.96000e+02,
        2.15000e+02, 2.37000e+02, 2.56000e+02, 2.66000e+02, 1.97000e+02,
        2.43000e+02, 2.60000e+02, 2.81000e+02, 3.31000e+02, 2.44000e+02,
        3.18000e+02, 3.40000e+02, 3.84000e+02, 2.82000e+02, 3.67000e+02,
        4.11000e+02, 3.44000e+02, 3.85000e+02, 5.23000e+02, 3.03000e+02,
        1.27500e+03, 1.23900e+03, 1.49100e+03, 1.33900e+03, 1.99500e+03,
        1.99100e+03, 1.96200e+03, 2.27300e+03, 2.15800e+03, 2.25300e+03,
        3.40400e+03, 3.37000e+03, 3.36400e+03, 1.53500e+03, 1.57800e+03,
        1.51800e+03, 1.66200e+03, 1.67800e+03, 1.69500e+03, 1.37700e+03,
        1.35000e+03, 2.29500e+03, 2.59200e+03, 2.60200e+03, 2.45100e+03,
        2.67300e+03, 3.36000e+03, 3.26000e+03, 3.05800e+03, 3.07000e+03,
        1.52500e+03, 1.53300e+03, 1.22900e+03, 1.21900e+03, 1.12300e+03,
        1.28400e+03, 1.26000e+03, 1.02300e+03, 1.01700e+03, 1.94000e+03,
        2.20300e+03, 1.91000e+03, 1.65300e+03, 1.73000e+03, 1.92500e+03,
        1.53200e+03, 2.24600e+03, 2.68300e+03, 2.11200e+03, 1.88000e+03,
        2.38600e+03, 2.42000e+03, 6.60000e+02, 6.49000e+02, 6.82000e+02,
        3.56800e+03, 6.56500e+03, 8.00000e+02, 7.42000e+02, 4.02300e+03,
        7.93300e+03, 8.77000e+02, 8.62000e+02, 4.21400e+03, 8.28900e+03,
        6.99700e+02, 8.15400e+02, 9.07500e+02, 9.41000e+02, 1.06400e+03,
        1.08000e+03, 1.78100e+03, 2.38200e+03, 3.27700e+03, 3.15200e+03,
        5.54000e+03, 4.41500e+03, 6.87000e+03, 6.98500e+03, 1.16650e+04,
        1.50900e+03, 1.65700e+03, 1.66300e+03, 2.10000e+03, 3.03500e+03,
        3.58300e+03, 3.64700e+03, 5.57800e+03, 5.63300e+03, 7.26000e+03,
        7.04500e+03, 1.15050e+04, 2.27500e+03, 2.44600e+03, 2.40200e+03,
        2.71300e+03, 4.96400e+03, 5.63800e+03, 5.71400e+03, 7.30400e+03,
        8.47500e+03, 9.66800e+03, 9.83500e+03, 1.37760e+04, 5.41000e+03,
        4.97700e+03, 4.20400e+03, 1.27700e+03, 6.88800e+03, 4.29400e+03,
        3.32300e+03, 4.59000e+03, 1.43800e+03, 2.53700e+03, 3.89500e+03,
        9.82300e+03, 3.68300e+03, 5.13500e+03, 7.56900e+02, 8.74700e+02,
        6.08200e+02, 6.05700e+02, 5.55900e+02, 4.84110e+02, 3.36200e+02,
        3.33000e+02, 8.13800e+02, 8.35200e+02, 6.10300e+02, 6.78600e+02,
        5.40950e+02, 5.69000e+02, 3.42400e+02, 3.33900e+02, 1.81560e+02,
        1.17490e+02, 2.48580e+02, 1.51590e+02, 2.71040e+02, 1.54240e+02,
        1.40320e+02, 9.57500e+01, 1.59550e+02, 1.02750e+02, 1.60330e+02,
        1.60800e+02, 2.70020e+02, 1.61260e+02, 3.13550e+02, 1.83810e+02,
        3.30400e+02, 2.13460e+02, 2.12480e+02, 1.44830e+02, 2.31350e+02,
        1.53160e+02, 2.46820e+02, 1.64950e+02, 4.74170e+02, 3.17900e+02,
        4.89470e+02, 3.22970e+02, 1.01250e+03, 6.42160e+02, 1.01150e+03,
        6.86210e+02, 8.06400e+02, 6.88200e+02, 6.32200e+02, 5.66100e+02,
        9.12100e+02, 8.48500e+02, 7.15800e+02, 6.38800e+02, 1.05980e+03,
        9.41900e+02, 8.68300e+02, 7.50700e+02, 1.46330e+03, 1.20910e+03,
        1.16730e+03, 9.68900e+02, 1.54950e+03, 1.33800e+03, 1.23450e+03,
        1.23200e+03, 1.99960e+03, 1.81710e+03, 1.79630e+03, 1.62080e+03,
        7.52000e+02, 7.62000e+02, 7.74000e+02, 8.05000e+02, 7.96000e+02,
        8.01000e+02, 8.41000e+02, 1.41400e+03, 8.51000e+02, 5.87000e+02,
        8.70000e+02, 2.79200e+03, 2.19300e+03, 1.46200e+03, 1.03300e+03,
        1.00100e+03, 9.05000e+02, 9.29000e+02, 1.49900e+03, 1.35100e+03,
        1.40800e+03, 1.55700e+03, 1.50100e+03, 1.51500e+03, 1.71000e+03,
        1.70500e+03, 1.76700e+03, 1.71100e+03, 1.75500e+03, 9.01810e+02,
        9.81230e+02, 1.29506e+03, 1.73577e+03, 1.81862e+03, 1.98986e+03,
        9.47750e+02, 1.03192e+03, 1.29661e+03, 1.72319e+03, 1.81094e+03,
        1.96806e+03, 8.77280e+02, 9.83510e+02, 1.23324e+03, 1.59248e+03,
        1.71334e+03, 1.90729e+03, 1.87100e+03, 2.70300e+03, 1.28250e+03,
        2.37570e+03, 1.18570e+03, 2.02170e+03, 8.79200e+02, 1.41720e+03,
        7.24000e+02, 1.14130e+03, 7.03300e+02, 1.07550e+03, 3.02000e+03,

In [20]:
# 根据t_units将df中的t列转换为同一个单位mm
def convert_to_mm(value, unit):
    if unit == 'mm':
        return value
    elif unit == 'cm':
        return value * 10
    elif unit == 'm':
        return value * 1000
    elif unit == 'in':
        return value * 25.4
    else:
        raise ValueError(f"Unknown unit: {unit}")

def convert_t_units(data):
    data['D'] = data.apply(lambda row: convert_to_mm(row['D'], row['D_units']), axis=1)
    data['t'] = data.apply(lambda row: convert_to_mm(row['t'], row['t_units']), axis=1)
    data.drop(columns=['D_units'], inplace=True)
    data.drop(columns=['t_units'], inplace=True)
    data.rename(columns={'D': 'D(mm)', 't': 't(mm)'}, inplace=True)
    # 将所有列转换为数值类型，非数值类型的列
    return data

# 将df中的t列转换为mm
df_processed = convert_t_units(df)
df_processed

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\1533055531.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['D'] = data.apply(lambda row: convert_to_mm(row['D'], row['D_units']), axis=1)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\1533055531.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['t'] = data.apply(lambda row: convert_to_mm(row['t'], row['t_units']), axis=1)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\1533055531.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['D_units'], inplace=True)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\1533055531.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['t_units'], inplace=True)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\1533055531.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'D': 'D(mm)', 't': 't(mm)'}, inplace=True)

,Author,Year,Specimen,D(mm),t(mm),Fy,Fy_units,Fu,Fu_units,fc,...,d_at_Pexp,d_at_Pexp_units,et,et_units,eb,eb_units,L,L_units,Tags,Notes
0,Kloppel & Goder,1957,7,94.996,12.4968,39830.0,psi,NaN,NaN,2940.0,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
1,Kloppel & Goder,1957,8,94.996,12.7508,39540.0,psi,NaN,NaN,2940.0,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
2,Kloppel & Goder,1957,9,94.996,12.3952,39540.0,psi,NaN,NaN,2940.0,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
3,Kloppel & Goder,1957,10,94.996,12.5984,39830.0,psi,NaN,NaN,2940.0,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
4,Kloppel & Goder,1957,11,94.996,12.7000,39540.0,psi,NaN,NaN,2940.0,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,Wei et al.,2020,C-22-900-140-2,140.000,6.2700,1153.0,MPa,NaN,NaN,125.0,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1171,Wei et al.,2020,C-17-900-140-1,140.000,8.3600,813.0,MPa,NaN,NaN,125.0,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1172,Wei et al.,2020,C-17-900-140-2,140.000,8.3600,813.0,MPa,NaN,NaN,125.0,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1173,Wei et al.,2020,C-13-900-140-1,140.000,10.4600,773.0,MPa,NaN,NaN,125.0,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1174,Wei et al.,2020,C-13-900-140-2,140.000,10.4600,773.0,MPa,NaN,NaN,125.0,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN

In [21]:
# 'Fy_units': array(['psi', 'ksi', 'kgscm', 'MPa'], dtype=object),
# # 将Fy列转换为MPa

unit_to_mpa = {
    'MPa': 1,
    'psi': 0.00689476,
    'ksi': 6.89476,
    'kgscm': 0.0980665
}

def convert_Fy_units(value, unit):
    if unit not in unit_to_mpa:
        raise ValueError(f"Unknown unit: {unit}")
    return value * unit_to_mpa[unit]

def convert_Fy_units_in_df(data):
    data['Fy'] = data.apply(lambda row: convert_Fy_units(row['Fy'],
                                                        row['Fy_units']), axis=1)
    data.drop(columns=['Fy_units'], inplace=True)
    data.rename(columns={'Fy': 'Fy(MPa)'}, inplace=True)
    return data

df_processed = convert_Fy_units_in_df(df_processed)

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\3886633166.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Fy'] = data.apply(lambda row: convert_Fy_units(row['Fy'],
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\3886633166.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['Fy_units'], inplace=True)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\3886633166.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'Fy': 'Fy(MPa)'}, inplace=True)

In [22]:
df_processed

,Author,Year,Specimen,D(mm),t(mm),Fy(MPa),Fu,Fu_units,fc,fc_units,...,d_at_Pexp,d_at_Pexp_units,et,et_units,eb,eb_units,L,L_units,Tags,Notes
0,Kloppel & Goder,1957,7,94.996,12.4968,274.618291,NaN,NaN,2940.0,psi,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
1,Kloppel & Goder,1957,8,94.996,12.7508,272.618810,NaN,NaN,2940.0,psi,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
2,Kloppel & Goder,1957,9,94.996,12.3952,272.618810,NaN,NaN,2940.0,psi,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
3,Kloppel & Goder,1957,10,94.996,12.5984,274.618291,NaN,NaN,2940.0,psi,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
4,Kloppel & Goder,1957,11,94.996,12.7000,272.618810,NaN,NaN,2940.0,psi,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,Wei et al.,2020,C-22-900-140-2,140.000,6.2700,1153.000000,NaN,NaN,125.0,MPa,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1171,Wei et al.,2020,C-17-900-140-1,140.000,8.3600,813.000000,NaN,NaN,125.0,MPa,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1172,Wei et al.,2020,C-17-900-140-2,140.000,8.3600,813.000000,NaN,NaN,125.0,MPa,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1173,Wei et al.,2020,C-13-900-140-1,140.000,10.4600,773.000000,NaN,NaN,125.0,MPa,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1174,Wei et al.,2020,C-13-900-140-2,140.000,10.4600,773.000000,NaN,NaN,125.0,MPa,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN

In [23]:
df_processed['fc_units'].unique()

array(['psi', 'ksi', 'kgscm', 'MPa', 'kPa'], dtype=object)

In [24]:
unit_to_mpa = {
    'MPa': 1,
    'psi': 0.00689476,
    'ksi': 6.89476,
    'kgscm': 0.0980665,
    'kPa': 0.001
}

def convert_Fc_units_in_df(data):
    data['fc'] = data.apply(lambda row: convert_Fy_units(row['fc'],
                                                        row['fc_units']), axis=1)
    data.drop(columns=['fc_units'], inplace=True)
    data.rename(columns={'fc': 'fc(MPa)'}, inplace=True)
    return data

df_processed = convert_Fc_units_in_df(df_processed)

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\2970371877.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['fc'] = data.apply(lambda row: convert_Fy_units(row['fc'],
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\2970371877.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['fc_units'], inplace=True)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\2970371877.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'fc': 'fc(MPa)'}, inplace=True)

In [27]:
# 获得每一列的unique值
unique_values = {col: df_processed[col].unique() for col in df_processed.columns}
unique_values

{'Author': array(['Kloppel & Goder', 'Salani & Sims', 'Chapman & Neogi', 'Furlong',
        'Gardener & Jacobson', 'Gardener', 'Knowles & Park',
        'Masuo et al.', 'Sakino & Hayashi', 'Rangan & Joyce',
        'Prion & Boehme', "O'Shea & Bridge", 'Schneider',
        'Kilpatrick & Rangan', 'Tan et al.', 'Yamamoto et al.',
        'Uenaka et al.', 'Sakino et al.', 'Liew & Xiong', 'Lee et al.',
        'Muciaccia et al.', 'Portoles et al.', 'Dundu', 'Guler et al.',
        'Karmazínová', 'Ekmekyapar & AL-Eliwi', 'Romero et al.',
        'Ibañez et al.', 'Wei et al.'], dtype=object),
 'Year': array(['1957', '1964', '1966', '1967', '1968', '1969', '1991', '1992',
        '1994', '1997a', '1998', '1999', '2000', '2003', '2004', '2009',
        '2011', '2012', '2013', '2015', '2016', '2017', '2018', '2020'],
       dtype=object),
 'Specimen': array(['7', '8', '9', '10', '11', '12', '13', '14', '15', '41', '42',
        '43', '44', '45', '46', '47', '48', '49', '63', '64', '65', '66',
        '69', '70', '71', '72', '73', '74', '75', '76', '83', '84', '85',
        '86', '89', '90', '91', '92', '95', '96', '97', '98', '101', '102',
        '103', '104', '16F', '17F', '18F', '49F', '50F', '22F', '23F',
        '24F', '51F', '52F', '28F', '29F', '30F', '71F', '40F', '41F',
        '42F', 'A1', 'A4', 'A5', 'A6', 'B1', 'B1X', 'B2', 'B2X', 'DF1',
        'DF1X', 'DF2', 'DF2X', 'SC1', 'SC2', 'SC3', 'SC4', 'Column-1',
        'Column-2', 'Column-8', 'Column-9', 'Column-10', 'Column-11',
        'Column-12', 'Column-13', '1', '2', '3', '4', '5', '6', '16', '18',
        '19', '20', '21', '22', '23', '24', '25', '1a', '2a', '3a', '4a',
        '5a', '6a', '6b', '7a', '7b', '8a', '8b', 'Column-3', 'Column-4',
        'Column-5', 'Column-7', 'BeamColumn-1', 'BeamColumn-2',
        'BeamColumn-3', 'BeamColumn-4', 'BeamColumn-5', 'BeamColumn-6',
        '1A2', '1A4', '1A6', '1G2', '1G6', '2A2', '2A4', '2A6', '2G2',
        '2G6', 'L-20-1', 'L-20-2', 'H-20-1', 'H-20-2', 'L-32-1', 'L-32-2',
        'H-32-1', 'H-32-2', 'L-58-1', 'L-58-2', 'H-58-1', 'H-58-2', 'B3',
        'B5', 'B7', 'BP9', 'BP10', 'R12CF1', 'R12CF2', 'R12CF3', 'R12CF4',
        'R12CF5', 'R12CF7', 'S12E210B', 'C1', 'C2', 'C3', 'SC-0', 'SC-1',
        'SC-2', 'SC-3', 'SC-4', 'SC-5', 'SC-6', 'SC-7', 'SC-9', 'SC-10',
        'SC-11', 'SC-12', 'SC-13', 'SC-14', 'SC-15', 'SC-16', 'SC-17',
        'SC-18', 'SC-19', 'SC-20', 'SC-21', 'SC-22', 'SC-23', 'SC-24',
        'SC-25', 'SC-26', 'SC-27', 'SC-28', 'SC-29', 'SC-30', 'SC-31',
        'SC-32', 'SC-33', 'SC-34', 'SC-35', 'SC-36', 'SC-37', 'SC-38',
        'SC-39', 'SC-40', 'A1-1', 'A1-2', 'A2-1', 'A2-2', 'A3-1', 'A3-2',
        'A3-3', 'A4-1', 'A4-2', 'A4-3', 'A5-1', 'A5-2', 'A5-3', 'B-1',
        'B-2', 'B-3', 'S30CS50B', 'S20CS50A', 'S16CS50B', 'S12CS50A',
        'S10CS50A', 'S30CS80A', 'S20CS80B', 'S16CS80A', 'S12CS80A',
        'S10CS80B', 'S30CS10A', 'S20CS10A', 'S16CS10A', 'S12CS10A',
        'S10CS10A', 'S30E250B', 'S20E250A', 'S12E250A', 'S10E250A',
        'S30E150B', 'S20E150A', 'S16E150B', 'S12E150A', 'S10E150A',
        'S30E280A', 'S20E280B', 'S10E280B', 'S30E180A', 'S20E180B',
        'S16E180A', 'S10E180B', 'S30E210B', 'S20E210B', 'S10E210B',
        'S30E110B', 'S20E110B', 'S16E110B', 'S12E110B', 'C10A-2A-1',
        'C10A-2A-2', 'C10A-2A-3', 'C20A-2A', 'C30A-2A', 'C10A-3A-1',
        'C10A-3A-2', 'C20A-3A', 'C30A-3A', 'C10A-4A-1', 'C10A-4A-2',
        'C20A-4A', 'C30A-4A', 't10-000', 't16-000', 't23-000', 'CC4-A-2',
        'CC4-A-4-1', 'CC4-A-4-2', 'CC4-A-8', 'CC4-C-2', 'CC4-C-4-1',
        'CC4-C-4-2', 'CC4-C-8', 'CC4-D-2', 'CC4-D-4-1', 'CC4-D-4-2',
        'CC4-D-8', 'CC6-A-2', 'CC6-A-4-1', 'CC6-A-4-2', 'CC6-A-8',
        'CC6-C-2', 'CC6-C-4-1', 'CC6-C-4-2', 'CC6-C-8', 'CC6-D-2',
        'CC6-D-4-1', 'CC6-D-4-2', 'CC6-D-8', 'CC8-A-2', 'CC8-A-4-1',
        'CC8-A-4-2', 'CC8-A-8', 'CC8-C-2', 'CC8-C-4-1', 'CC8-C-4-2',
        'CC8-C-8', 'CC8-D-2', 'CC8-D-4-1', 'CC8-D-4-2', 'CC8-D-8',
        'CFT-S-100-0P', 'CFT-l-100-0P', 'CFT-L-100-0P', 'O49E24_30',
        'O49C36_30', 'O49E36_30', 'O49E48_30', 'O49E60_30', 'O49E24_60',
        'O49E36_60', 'O49E48_60', 'O57C30_30', 'O57E30_30', 'O57E48_30',
        'NVC_80_1', 'NVC_80_2', 'NVC_200_1', 'NVC_200_2', 'NVC_300_1',
        'NVC_300_2', 'NVC_440_1', 'NVC_440_2', 'SCC_80_1', 'SCC_80_2',
        'SCC_200_1', 'SCC_200_2', 'SCC_300_1', 'SCC_300_2', 'SCC_440_1',
        'SCC_440_2', 'C4', 'C5', 'C6', 'C9', 'C10', 'C11', 'C12', 'C13',
        'C14', 'C18', 'C19', 'C20', 'C21', 'C22', 'C23', 'C24', 'C25',
        'C26', 'C27', 'C28', 'C29', 'C30', 'C31', 'C32', 'C33', 'C34',
        'C35', 'C36', 'C37', 'S1-1', 'S1-2', 'S1-3', 'S1-4', 'S1-5',
        'S1-6', 'S1-7', 'S1-8', 'S1-9', 'S1-10', 'S1-11', 'S1-12', 'S2-1',
        'S2-2', 'S2-3', 'S2-4', 'S2-5', 'S2-6', 'S2-7', 'S2-8', 'S2-9',
        'S2-10', 'S2-11', 'S2-12', 'CF2.5-1', 'CF2.5-2', 'CF2.5-3',
        'CF3-1', 'CF3-2', 'CF3-3', 'CF3.3-1', '17', 'TS2-1', 'TS2-2',
        'TS2-3', 'TS3', 'TS5-1', 'TS5-2', 'TS5-3', 'TS6-1', 'TS6-2',
        'TS6-3', 'TS8-1', 'TS8-2', 'TS8-3', 'TS9-1', 'TS9-2', 'TS9-3',
        '114.3-2.74-300-56', '114.3-2.74-300-66', '114.3-2.74-300-107',
        '114.3-5.90-300-56', '114.3-5.90-300-66', '114.3-5.90-300-107',
        '114.3-2.74-600-56', '114.3-2.74-600-66', '114.3-2.74-600-107',
        '114.3-5.90-600-56', '114.3-5.90-600-66', '114.3-5.90-600-107',
        '114.3-2.74-900-56', '114.3-2.74-900-66', '114.3-2.74-900-107',
        '114.3-5.90-900-56', '114.3-5.90-900-66', 'CFST1', 'CFST2',
        'C168.3x2.8_30', 'C168.3x2.8_90', 'C159x3_30', 'C159x3_90',
        'C120x2.5_30', 'C120x2.5_90', 'C100x3_30', 'C100x3_90',
        'C101.6x3_30', 'C101.6x3_31', 'C-32-900-60-1', 'C-22-900-60-1',
        'C-17-900-60-1', 'C-13-900-60-1', 'C-23-345-140-1',
        'C-23-345-140-2', 'C-17-345-140-1', 'C-17-345-140-2',
        'C-12-345-140-1', 'C-12-345-140-2', 'C-8-345-140-1',
        'C-8-345-140-2', 'C-32-900-140-1', 'C-32-900-140-2',
        'C-22-900-140-1', 'C-22-900-140-2', 'C-17-900-140-1',
        'C-17-900-140-2', 'C-13-900-140-1', 'C-13-900-140-2'], dtype=object),
 'D(mm)': array([ 94.996 , 216.0016, 121.0056,  25.4   ,  38.1   ,  50.8   ,
         69.85  ,  76.2   , 355.6   , 127.2794, 127.0508, 140.0556,
        140.3858, 168.1734, 168.3512, 168.3004, 114.3   , 152.4   ,
        127.    , 101.6762, 101.727 , 101.7016, 120.65  , 120.8278,
        120.8024, 152.6032, 152.7048, 152.6286, 152.5778, 152.5524,
         76.4794,  76.4286,  76.454 , 168.656 , 169.164 , 168.148 ,
         88.9   ,  82.55  , 190.7   , 267.4   , 178.    , 179.    ,
        174.    , 101.6   , 152.    , 190.    , 140.8   , 141.4   ,
        140.    ,  76.    , 101.7   , 101.5   , 125.    , 133.    ,
        108.    , 165.    , 101.4   , 101.9   , 101.8   , 216.4   ,
        318.3   , 101.3   , 318.5   , 158.7   , 157.5   , 157.7   ,
        149.    , 301.    , 300.    , 450.    , 122.    , 239.    ,
        238.    , 361.    , 360.    , 109.    , 222.    , 337.    ,
        219.    , 240.    , 480.    , 600.    , 139.6   , 100.    ,
        160.1   , 114.85  , 127.3   , 139.2   , 152.4   , 165.1   ,
        193.7   ,  76.21  ,  76.12  ,  76.11  ,  76.19  ,  75.84  ,
         75.97  ,  76.18  , 159.    , 168.3   , 120.    ]),
 't(mm)': array([12.4968, 12.7508, 12.3952, 12.5984, 12.7   , 12.8016,  3.6576,
         3.683 ,  3.4036,  3.8608,  3.9116,  3.5814,  3.7592,  3.7846,
         3.5052,  4.064 ,  4.1148,  4.0386,  6.0452,  5.969 ,  6.5024,
         6.2992,  3.7338,  3.9878,  5.6134,  5.4102,  5.461 ,  5.5626,
         3.7084,  5.6896,  5.4864,  5.6388,  5.4356,  0.889 ,  2.7686,
         1.651 ,  1.2446, 11.176 ,  4.7244,  7.9756,  1.6256,  2.9464,
         9.6774,  4.9276,  4.5212,  4.4704,  3.175 ,  1.5494,  2.413 ,
         3.0734,  3.0988,  4.0894,  3.1496,  4.9022,  1.7018,  1.7272,
         1.6764,  2.6416,  2.6162,  3.6068,  5.0038,  5.842 ,  1.397 ,
         6.    ,  7.    ,  9.    ,  5.5   ,  3.    ,  1.6   ,  1.7   ,
         1.11  ,  1.13  ,  6.5   ,  6.68  ,  2.2   ,  2.4   ,  1.    ,
         2.    ,  3.5   ,  4.7   ,  4.5   ,  2.82  ,  1.94  ,  1.52  ,
         0.86  ,  3.03  ,  6.61  , 10.36  ,  0.9   ,  1.5   ,  2.14  ,
         2.96  ,  4.54  ,  6.47  ,  6.3   , 12.    ,  4.    ,  5.    ,
         5.7   ,  2.52  ,  2.51  ,  2.48  ,  2.99  ,  2.98  ,  3.31  ,
         2.74  ,  5.9   ,  8.    ,  2.8   ,  2.5   ,  4.42  ,  6.27  ,
         8.36  , 10.46  ,  6.21  ,  8.19  , 11.58  , 16.72  ]),
 'Fy(MPa)': array([ 274.6182908,  272.6188104,  278.4793564,  275.5835572,
         279.5135704,  326.5358336,  386.3823504,  335.3611264,
         284.40885  ,  299.0946888,  288.3388632,  286.3393828,
         389.3470972,  393.2771104,  295.1646756,  404.9982024,
         332.3963796,  337.3606068,  355.0111924,  327.5700476,
         307.9199816,  344.1864192,  343.2211528,  330.4658468,
         321.640554 ,  524.00176  ,  355.08014  ,  276.479876 ,
         370.59335  ,  328.880052 ,  265.44826  ,  268.89564  ,
         288.890444 ,  297.853632 ,  413.6856   ,  330.94848  ,
         605.0841376,  451.60678  ,  415.1334996,  633.4216012,
         363.2849044,  317.15896  ,  221.321796 ,  260.621928 ,
         399.89608  ,  482.6332   ,  505.042475 ,  460.91255  ,
         283.3141185,  248.500511 ,  265.956348 ,  218.       ,
         270.       ,  328.       ,  203.1      ,  185.7      ,
         285.       ,  313.       ,  537.       ,  435.       ,
         410.       ,  232.       ,  258.       ,  352.       ,
         429.       ,  358.       ,  363.3      ,  256.4      ,
         306.1      ,  210.7      ,  371.       ,  452.       ,
         331.       ,  221.       ,  308.       ,  286.       ,
         279.       ,  576.       ,  507.       ,  525.       ,
         853.       ,  843.       ,  823.       ,  300.       ,
         405.       ,  393.       ,  489.       ,  498.       ,
         468.       ,  517.       ,  479.       ,  374.       ,
         322.       ,  320.       ,  354.05     ,  345.2      ,
         361.95     ,  488.2      ,  394.3      ,  438.2      ,
         430.3      ,  398.8      ,  392.2      ,  278.       ,
         305.       ,  394.       ,  377.       ,  376.       ,
         457.       ,  487.       ,  380.       ,  444.       ,
         356.4      ,  344.4      ,  475.4      ,  235.       ,
         355.       ,  317.8      ,  336.28     ,  445.52     ,
         432.09     ,  432.82     ,  425.03     , 1020.       ,
        1153.       ,  813.       ,  773.       ,  359.       ,
         389.       ,  367.       ]),
 'Fu': array([      nan,  82300.  , 106700.  ,  72580.  ,  74450.  , 112300.  ,
         74150.  ,  50500.  ,  57200.  ,  51000.  ,  64800.  ,  81300.  ,
         77100.  ,   6160.  ,   6050.  ,    299.  ,    307.6 ,    495.  ,
           475.  ,    466.9 ,    369.  ,    381.2 ,    322.1 ,    340.  ,
           284.  ,    636.  ,    531.  ,    548.  ,    940.  ,    875.  ,
           863.  ,    550.  ,    567.  ,    539.  ,    578.  ,    631.  ,
           638.  ,    440.  ,    432.35,    430.4 ,    457.85,    549.6 ,
           480.2 ,    500.9 ,    480.15,    479.1 ,    470.8 ,    381.  ,
           374.  ,    402.  ]),
 'Fu_units': array([nan, 'psi', 'kgscm', 'MPa'], dtype=object),
 'fc(MPa)': array([ 20.2705944,  24.9590312,  22.8906032,  29.7853632,  24.0627124,
         21.0979656,  24.2006076,  23.6490268,  27.8203566,  17.926376 ,
         21.3048084,  27.8548304,  20.7532276,  27.234302 ,  38.0590752,
         32.8190576,  20.9600704,  23.442184 ,  66.189696 ,  27.57904  ,
         27.9927256,  32.6811624,  31.4401056,  43.1611976,  23.0284984,
         28.957992 ,  21.029018 ,  25.85535  ,  35.163276 ,  34.129062 ,
         31.1643152,  34.4048524,  29.5785204,  25.9242976,  20.8911228,
         23.097446 ,  41.9890884,  43.436988 ,  40.8859268,  33.3016908,
         36.542228 ,  33.5774812,  26.6137736,  32.75011  ,  32.8880052,
         27.4411448,  40.0240818,  39.6103962,  38.955394 ,  41.7822456,
         40.851453 ,  41.3340862,  36.9903874,  41.36856  ,  55.897905 ,
         48.3467845,  22.163029 ,  45.4047895,  23.928226 ,  43.6395925,
         45.698989 ,  67.4      ,  73.       ,  85.       , 110.3      ,
         94.7      , 113.9      ,  28.18     ,  23.805    ,  58.       ,
         84.7      ,  77.4      ,  48.3      ,  41.       ,  80.2      ,
         74.7      , 108.       , 112.7      ,  23.2      ,  24.3      ,
         24.2      ,  40.2      ,  38.3      ,  39.3      ,  51.3      ,
         46.8      ,  52.5      ,  18.7      ,  25.4      ,  40.5      ,
         77.       ,  41.1      ,  80.3      ,  85.1      ,  99.       ,
        100.       ,  31.5      ,  59.       ,  62.       ,  32.7      ,
         34.5      ,  65.79     ,  71.64     ,  95.63     ,  93.01     ,
         39.43     ,  36.68     ,  71.74     ,  79.55     ,  94.56     ,
         90.4      ,  35.39     ,  30.54     ,  70.16     ,  61.       ,
         95.43     ,  81.66     ,  38.67     ,  39.56     ,  71.86     ,
         72.49     ,  86.39     ,  96.74     ,  87.98     ,  96.97     ,
        107.33     ,  97.92     ,  87.38     ,  74.75     ,  83.08     ,
         98.5      ,  40.3      ,  30.9      , 145.       ,  37.7      ,
         39.9      ,  40.1      ,  75.7      , 120.1      , 116.       ,
        109.8      , 110.7      ,  91.4      ,  27.       ,  87.1      ,
         56.7      ,  82.1      ,  56.2      ,  66.75     , 107.2      ,
         40.       , 142.       ,  37.71     ,  93.74     ,  33.39     ,
         90.85     ,  41.44     ,  94.68     ,  34.04     ,  93.51     ,
        125.       ]),
 'fc_type': array(['cylinder', 'Cylinder'], dtype=object),
 'Pexp': array([2.12900e+02, 2.10800e+02, 2.03900e+02, 2.28800e+02, 2.26600e+02,
        2.32400e+02, 1.99300e+02, 2.06100e+02, 1.47500e+02, 1.54300e+02,
        1.27400e+02, 1.36200e+02, 1.29400e+02, 1.20600e+02, 1.27200e+02,
        1.09600e+02, 2.30000e+02, 4.12400e+02, 5.14600e+02, 5.03300e+02,
        5.53400e+02, 5.44300e+02, 6.30300e+02, 6.59200e+02, 1.12000e+02,
        1.06300e+02, 9.28100e+01, 1.56300e+02, 1.67800e+02, 1.88100e+02,
        1.94900e+02, 2.24400e+02, 2.47100e+02, 2.42500e+02, 1.44000e+02,
        1.41500e+02, 1.69800e+02, 1.76800e+02, 1.83400e+02, 1.96400e+02,
        1.94500e+02, 3.87000e+00, 3.34000e+00, 3.24000e+00, 3.54000e+00,
        3.49000e+00, 2.42000e+01, 2.72000e+01, 2.40000e+01, 2.54000e+01,
        2.59000e+01, 2.57000e+01, 2.71000e+01, 5.19000e+01, 5.09000e+01,
        5.51000e+01, 7.20000e+01, 2.57600e+03, 2.40800e+03, 7.90700e+02,
        1.67100e+03, 2.89000e+02, 2.93500e+02, 6.63000e+02, 4.10000e+02,
        4.51000e+02, 5.02000e+02, 4.75000e+02, 3.92000e+02, 1.60000e+02,
        1.70000e+02, 1.53400e+02, 1.62200e+02, 1.64800e+02, 1.41000e+02,
        1.40000e+02, 1.48000e+02, 1.84000e+05, 1.80000e+05, 2.50000e+05,
        2.40000e+05, 2.60000e+05, 2.45650e+05, 2.13500e+05, 2.70000e+05,
        2.11000e+05, 1.98000e+05, 6.54000e+05, 6.55000e+05, 5.50000e+04,
        8.00000e+04, 9.25000e+04, 7.42500e+04, 9.77000e+04, 8.37000e+04,
        9.74000e+04, 1.85000e+05, 2.06000e+05, 1.70000e+05, 1.55000e+05,
        2.13000e+05, 2.36000e+05, 2.54000e+05, 2.62000e+05, 2.98000e+05,
        2.74000e+05, 2.94000e+05, 2.99000e+05, 3.50000e+05, 3.22000e+05,
        3.29000e+05, 4.42000e+05, 4.43000e+05, 4.46000e+05, 1.38200e+05,
        1.60000e+05, 1.60800e+05, 2.06500e+05, 2.23000e+05, 5.05000e+04,
        6.62000e+04, 9.00000e+04, 1.10000e+05, 1.19200e+05, 9.09000e+04,
        8.01000e+04, 3.95000e+04, 3.93250e+04, 2.83000e+04, 1.50000e+04,
        3.12300e+02, 2.66300e+02, 2.10000e+02, 3.21000e+02, 2.17500e+02,
        5.28300e+02, 4.62300e+02, 3.69700e+02, 5.29000e+02, 3.98000e+02,
        2.98000e+02, 2.91000e+02, 3.28000e+02, 3.24000e+02, 1.85000e+02,
        2.08000e+02, 2.07000e+02, 1.34000e+02, 1.33000e+02, 1.64000e+02,
        1.71000e+02, 4.30000e+02, 2.35000e+02, 3.50000e+02, 1.90000e+02,
        3.15000e+02, 2.80000e+02, 2.20000e+02, 1.26000e+02, 1.55000e+03,
        1.45800e+03, 1.54800e+03, 1.44800e+03, 1.86300e+03, 1.89500e+03,
        3.03000e+03, 2.94000e+03, 3.14000e+03, 2.46200e+03, 3.05500e+03,
        3.00000e+03, 2.43800e+03, 8.81000e+02, 1.82500e+03, 2.71500e+03,
        2.46000e+02, 1.84000e+02, 1.62000e+02, 1.21000e+02, 1.07000e+02,
        9.60000e+01, 3.61000e+02, 3.09000e+02, 2.75000e+02, 2.40000e+02,
        1.88000e+02, 1.58000e+02, 1.57000e+02, 1.83000e+02, 1.96000e+02,
        2.15000e+02, 2.37000e+02, 2.56000e+02, 2.66000e+02, 1.97000e+02,
        2.43000e+02, 2.60000e+02, 2.81000e+02, 3.31000e+02, 2.44000e+02,
        3.18000e+02, 3.40000e+02, 3.84000e+02, 2.82000e+02, 3.67000e+02,
        4.11000e+02, 3.44000e+02, 3.85000e+02, 5.23000e+02, 3.03000e+02,
        1.27500e+03, 1.23900e+03, 1.49100e+03, 1.33900e+03, 1.99500e+03,
        1.99100e+03, 1.96200e+03, 2.27300e+03, 2.15800e+03, 2.25300e+03,
        3.40400e+03, 3.37000e+03, 3.36400e+03, 1.53500e+03, 1.57800e+03,
        1.51800e+03, 1.66200e+03, 1.67800e+03, 1.69500e+03, 1.37700e+03,
        1.35000e+03, 2.29500e+03, 2.59200e+03, 2.60200e+03, 2.45100e+03,
        2.67300e+03, 3.36000e+03, 3.26000e+03, 3.05800e+03, 3.07000e+03,
        1.52500e+03, 1.53300e+03, 1.22900e+03, 1.21900e+03, 1.12300e+03,
        1.28400e+03, 1.26000e+03, 1.02300e+03, 1.01700e+03, 1.94000e+03,
        2.20300e+03, 1.91000e+03, 1.65300e+03, 1.73000e+03, 1.92500e+03,
        1.53200e+03, 2.24600e+03, 2.68300e+03, 2.11200e+03, 1.88000e+03,
        2.38600e+03, 2.42000e+03, 6.60000e+02, 6.49000e+02, 6.82000e+02,
        3.56800e+03, 6.56500e+03, 8.00000e+02, 7.42000e+02, 4.02300e+03,
        7.93300e+03, 8.77000e+02, 8.62000e+02, 4.21400e+03, 8.28900e+03,
        6.99700e+02, 8.15400e+02, 9.07500e+02, 9.41000e+02, 1.06400e+03,
        1.08000e+03, 1.78100e+03, 2.38200e+03, 3.27700e+03, 3.15200e+03,
        5.54000e+03, 4.41500e+03, 6.87000e+03, 6.98500e+03, 1.16650e+04,
        1.50900e+03, 1.65700e+03, 1.66300e+03, 2.10000e+03, 3.03500e+03,
        3.58300e+03, 3.64700e+03, 5.57800e+03, 5.63300e+03, 7.26000e+03,
        7.04500e+03, 1.15050e+04, 2.27500e+03, 2.44600e+03, 2.40200e+03,
        2.71300e+03, 4.96400e+03, 5.63800e+03, 5.71400e+03, 7.30400e+03,
        8.47500e+03, 9.66800e+03, 9.83500e+03, 1.37760e+04, 5.41000e+03,
        4.97700e+03, 4.20400e+03, 1.27700e+03, 6.88800e+03, 4.29400e+03,
        3.32300e+03, 4.59000e+03, 1.43800e+03, 2.53700e+03, 3.89500e+03,
        9.82300e+03, 3.68300e+03, 5.13500e+03, 7.56900e+02, 8.74700e+02,
        6.08200e+02, 6.05700e+02, 5.55900e+02, 4.84110e+02, 3.36200e+02,
        3.33000e+02, 8.13800e+02, 8.35200e+02, 6.10300e+02, 6.78600e+02,
        5.40950e+02, 5.69000e+02, 3.42400e+02, 3.33900e+02, 1.81560e+02,
        1.17490e+02, 2.48580e+02, 1.51590e+02, 2.71040e+02, 1.54240e+02,
        1.40320e+02, 9.57500e+01, 1.59550e+02, 1.02750e+02, 1.60330e+02,
        1.60800e+02, 2.70020e+02, 1.61260e+02, 3.13550e+02, 1.83810e+02,
        3.30400e+02, 2.13460e+02, 2.12480e+02, 1.44830e+02, 2.31350e+02,
        1.53160e+02, 2.46820e+02, 1.64950e+02, 4.74170e+02, 3.17900e+02,
        4.89470e+02, 3.22970e+02, 1.01250e+03, 6.42160e+02, 1.01150e+03,
        6.86210e+02, 8.06400e+02, 6.88200e+02, 6.32200e+02, 5.66100e+02,
        9.12100e+02, 8.48500e+02, 7.15800e+02, 6.38800e+02, 1.05980e+03,
        9.41900e+02, 8.68300e+02, 7.50700e+02, 1.46330e+03, 1.20910e+03,
        1.16730e+03, 9.68900e+02, 1.54950e+03, 1.33800e+03, 1.23450e+03,
        1.23200e+03, 1.99960e+03, 1.81710e+03, 1.79630e+03, 1.62080e+03,
        7.52000e+02, 7.62000e+02, 7.74000e+02, 8.05000e+02, 7.96000e+02,
        8.01000e+02, 8.41000e+02, 1.41400e+03, 8.51000e+02, 5.87000e+02,
        8.70000e+02, 2.79200e+03, 2.19300e+03, 1.46200e+03, 1.03300e+03,
        1.00100e+03, 9.05000e+02, 9.29000e+02, 1.49900e+03, 1.35100e+03,
        1.40800e+03, 1.55700e+03, 1.50100e+03, 1.51500e+03, 1.71000e+03,
        1.70500e+03, 1.76700e+03, 1.71100e+03, 1.75500e+03, 9.01810e+02,

In [28]:
df_processed.to_csv('CCFT_C+PBC_processed.csv', index=False)

In [29]:
df_processed

,Author,Year,Specimen,D(mm),t(mm),Fy(MPa),Fu,Fu_units,fc(MPa),fc_type,...,d_at_Pexp,d_at_Pexp_units,et,et_units,eb,eb_units,L,L_units,Tags,Notes
0,Kloppel & Goder,1957,7,94.996,12.4968,274.618291,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
1,Kloppel & Goder,1957,8,94.996,12.7508,272.618810,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
2,Kloppel & Goder,1957,9,94.996,12.3952,272.618810,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
3,Kloppel & Goder,1957,10,94.996,12.5984,274.618291,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
4,Kloppel & Goder,1957,11,94.996,12.7000,272.618810,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,Wei et al.,2020,C-22-900-140-2,140.000,6.2700,1153.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1171,Wei et al.,2020,C-17-900-140-1,140.000,8.3600,813.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1172,Wei et al.,2020,C-17-900-140-2,140.000,8.3600,813.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1173,Wei et al.,2020,C-13-900-140-1,140.000,10.4600,773.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1174,Wei et al.,2020,C-13-900-140-2,140.000,10.4600,773.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN

In [30]:
df_processed['Pexp_units'].unique()

array(['kips', 'lbf', 'tonne', 'kN'], dtype=object)

In [31]:
# array(['kips', 'lbf', 'tonne', 'kN'], dtype=object)
# 将Pexp列转换为kN
unit_to_kn = {
    'kN': 1,
    'kips': 4.44822,
    'lbf': 0.00444822,
    'tonne': 9.80665
}

def convert_Pexp_units(value, unit):
    if unit not in unit_to_kn:
        raise ValueError(f"Unknown unit: {unit}")
    return value * unit_to_kn[unit]

def convert_Pexp_units_in_df(data):
    data['Pexp'] = data.apply(lambda row: convert_Pexp_units(row['Pexp'],
                                                            row['Pexp_units']), axis=1)
    data.drop(columns=['Pexp_units'], inplace=True)
    data.rename(columns={'Pexp': 'Pexp(kN)'}, inplace=True)
    return data

df_processed = convert_Pexp_units_in_df(df_processed)
df_processed

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\440196257.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Pexp'] = data.apply(lambda row: convert_Pexp_units(row['Pexp'],
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\440196257.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['Pexp_units'], inplace=True)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\440196257.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'Pexp': 'Pexp(kN)'}, inplace=True)

,Author,Year,Specimen,D(mm),t(mm),Fy(MPa),Fu,Fu_units,fc(MPa),fc_type,...,d_at_Pexp,d_at_Pexp_units,et,et_units,eb,eb_units,L,L_units,Tags,Notes
0,Kloppel & Goder,1957,7,94.996,12.4968,274.618291,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
1,Kloppel & Goder,1957,8,94.996,12.7508,272.618810,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
2,Kloppel & Goder,1957,9,94.996,12.3952,272.618810,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,55.91,in,NaN,Data from Knowles and Park (1970)
3,Kloppel & Goder,1957,10,94.996,12.5984,274.618291,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
4,Kloppel & Goder,1957,11,94.996,12.7000,272.618810,NaN,NaN,20.270594,cylinder,...,NaN,NaN,0.0,in,NaN,NaN,33.86,in,NaN,Data from Knowles and Park (1970)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,Wei et al.,2020,C-22-900-140-2,140.000,6.2700,1153.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1171,Wei et al.,2020,C-17-900-140-1,140.000,8.3600,813.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1172,Wei et al.,2020,C-17-900-140-2,140.000,8.3600,813.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1173,Wei et al.,2020,C-13-900-140-1,140.000,10.4600,773.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN
1174,Wei et al.,2020,C-13-900-140-2,140.000,10.4600,773.000000,NaN,NaN,125.000000,Cylinder,...,NaN,NaN,0.0,mm,NaN,NaN,420.00,mm,NaN,NaN

In [33]:
df_processed.drop(columns=['Author', 'Year', 'Specimen', 'fc_type', 'eb', 'eb_units'], inplace=True)

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\3506786538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_processed.drop(columns=['Author', 'Year', 'Specimen', 'fc_type', 'eb', 'eb_units'], inplace=True)

In [34]:
df_processed

,D(mm),t(mm),Fy(MPa),Fu,Fu_units,fc(MPa),Pexp(kN),d_at_Pexp,d_at_Pexp_units,et,et_units,L,L_units,Tags,Notes
0,94.996,12.4968,274.618291,NaN,NaN,20.270594,947.026038,NaN,NaN,0.0,in,55.91,in,NaN,Data from Knowles and Park (1970)
1,94.996,12.7508,272.618810,NaN,NaN,20.270594,937.684776,NaN,NaN,0.0,in,55.91,in,NaN,Data from Knowles and Park (1970)
2,94.996,12.3952,272.618810,NaN,NaN,20.270594,906.992058,NaN,NaN,0.0,in,55.91,in,NaN,Data from Knowles and Park (1970)
3,94.996,12.5984,274.618291,NaN,NaN,20.270594,1017.752736,NaN,NaN,0.0,in,33.86,in,NaN,Data from Knowles and Park (1970)
4,94.996,12.7000,272.618810,NaN,NaN,20.270594,1007.966652,NaN,NaN,0.0,in,33.86,in,NaN,Data from Knowles and Park (1970)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,140.000,6.2700,1153.000000,NaN,NaN,125.000000,5354.000000,NaN,NaN,0.0,mm,420.00,mm,NaN,NaN
1171,140.000,8.3600,813.000000,NaN,NaN,125.000000,5531.000000,NaN,NaN,0.0,mm,420.00,mm,NaN,NaN
1172,140.000,8.3600,813.000000,NaN,NaN,125.000000,5502.000000,NaN,NaN,0.0,mm,420.00,mm,NaN,NaN
1173,140.000,10.4600,773.000000,NaN,NaN,125.000000,6339.000000,NaN,NaN,0.0,mm,420.00,mm,NaN,NaN
1174,140.000,10.4600,773.000000,NaN,NaN,125.000000,6187.000000,NaN,NaN,0.0,mm,420.00,mm,NaN,NaN

In [35]:
df_processed.drop(columns=['Tags', 'Notes'], inplace=True)

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\3400340700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_processed.drop(columns=['Tags', 'Notes'], inplace=True)

In [36]:
df_processed

,D(mm),t(mm),Fy(MPa),Fu,Fu_units,fc(MPa),Pexp(kN),d_at_Pexp,d_at_Pexp_units,et,et_units,L,L_units
0,94.996,12.4968,274.618291,NaN,NaN,20.270594,947.026038,NaN,NaN,0.0,in,55.91,in
1,94.996,12.7508,272.618810,NaN,NaN,20.270594,937.684776,NaN,NaN,0.0,in,55.91,in
2,94.996,12.3952,272.618810,NaN,NaN,20.270594,906.992058,NaN,NaN,0.0,in,55.91,in
3,94.996,12.5984,274.618291,NaN,NaN,20.270594,1017.752736,NaN,NaN,0.0,in,33.86,in
4,94.996,12.7000,272.618810,NaN,NaN,20.270594,1007.966652,NaN,NaN,0.0,in,33.86,in
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,140.000,6.2700,1153.000000,NaN,NaN,125.000000,5354.000000,NaN,NaN,0.0,mm,420.00,mm
1171,140.000,8.3600,813.000000,NaN,NaN,125.000000,5531.000000,NaN,NaN,0.0,mm,420.00,mm
1172,140.000,8.3600,813.000000,NaN,NaN,125.000000,5502.000000,NaN,NaN,0.0,mm,420.00,mm
1173,140.000,10.4600,773.000000,NaN,NaN,125.000000,6339.000000,NaN,NaN,0.0,mm,420.00,mm
1174,140.000,10.4600,773.000000,NaN,NaN,125.000000,6187.000000,NaN,NaN,0.0,mm,420.00,mm

In [38]:
df_processed['Fu_units'].unique()

array([nan, 'psi', 'kgscm', 'MPa'], dtype=object)

In [39]:
# array([nan, 'psi', 'kgscm', 'MPa'], dtype=object)
# 将Fu列转换为MPa
unit_to_mpa = {
    'MPa': 1,
    'psi': 0.00689476,
    'kgscm': 0.0980665
}

def convert_Fu_units(value, unit):
    if unit not in unit_to_mpa:
        raise ValueError(f"Unknown unit: {unit}")
    return value * unit_to_mpa[unit]

def convert_Fu_units_in_df(data):
    data['Fu'] = data.apply(lambda row: convert_Fu_units(row['Fu'],                                                        row['Fu_units']) if pd.notna(row['Fu']) else row['Fu'], axis=1)
    data.drop(columns=['Fu_units'], inplace=True)
    data.rename(columns={'Fu': 'Fu(MPa)'}, inplace=True)
    return data

df_processed = convert_Fu_units_in_df(df_processed)
df_processed

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\4166229264.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Fu'] = data.apply(lambda row: convert_Fu_units(row['Fu'],                                                        row['Fu_units']) if pd.notna(row['Fu']) else row['Fu'], axis=1)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\4166229264.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['Fu_units'], inplace=True)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\4166229264.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'Fu': 'Fu(MPa)'}, inplace=True)

,D(mm),t(mm),Fy(MPa),Fu(MPa),fc(MPa),Pexp(kN),d_at_Pexp,d_at_Pexp_units,et,et_units,L,L_units
0,94.996,12.4968,274.618291,NaN,20.270594,947.026038,NaN,NaN,0.0,in,55.91,in
1,94.996,12.7508,272.618810,NaN,20.270594,937.684776,NaN,NaN,0.0,in,55.91,in
2,94.996,12.3952,272.618810,NaN,20.270594,906.992058,NaN,NaN,0.0,in,55.91,in
3,94.996,12.5984,274.618291,NaN,20.270594,1017.752736,NaN,NaN,0.0,in,33.86,in
4,94.996,12.7000,272.618810,NaN,20.270594,1007.966652,NaN,NaN,0.0,in,33.86,in
...,...,...,...,...,...,...,...,...,...,...,...,...
1170,140.000,6.2700,1153.000000,NaN,125.000000,5354.000000,NaN,NaN,0.0,mm,420.00,mm
1171,140.000,8.3600,813.000000,NaN,125.000000,5531.000000,NaN,NaN,0.0,mm,420.00,mm
1172,140.000,8.3600,813.000000,NaN,125.000000,5502.000000,NaN,NaN,0.0,mm,420.00,mm
1173,140.000,10.4600,773.000000,NaN,125.000000,6339.000000,NaN,NaN,0.0,mm,420.00,mm
1174,140.000,10.4600,773.000000,NaN,125.000000,6187.000000,NaN,NaN,0.0,mm,420.00,mm

In [40]:
df_processed.drop(columns=['d_at_Pexp', 'd_at_Pexp_units'], inplace=True)

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\2523080963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_processed.drop(columns=['d_at_Pexp', 'd_at_Pexp_units'], inplace=True)

In [41]:
df_processed['et_units'].unique()

array(['in', 'mm'], dtype=object)

In [42]:
# array(['in', 'mm'], dtype=object)
# 将et列转换为mm
def convert_et_units(value, unit):
    if unit == 'mm':
        return value
    elif unit == 'in':
        return value * 25.4
    else:
        raise ValueError(f"Unknown unit: {unit}")
def convert_et_units_in_df(data):
    data['et'] = data.apply(lambda row: convert_et_units(row['et'], row['et_units']), axis=1)
    data.drop(columns=['et_units'], inplace=True)
    data.rename(columns={'et': 'et(mm)'}, inplace=True)
    return data
df_processed = convert_et_units_in_df(df_processed)
df_processed

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\2669912744.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['et'] = data.apply(lambda row: convert_et_units(row['et'], row['et_units']), axis=1)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\2669912744.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['et_units'], inplace=True)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\2669912744.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'et': 'et(mm)'}, inplace=True)

,D(mm),t(mm),Fy(MPa),Fu(MPa),fc(MPa),Pexp(kN),et(mm),L,L_units
0,94.996,12.4968,274.618291,NaN,20.270594,947.026038,0.0,55.91,in
1,94.996,12.7508,272.618810,NaN,20.270594,937.684776,0.0,55.91,in
2,94.996,12.3952,272.618810,NaN,20.270594,906.992058,0.0,55.91,in
3,94.996,12.5984,274.618291,NaN,20.270594,1017.752736,0.0,33.86,in
4,94.996,12.7000,272.618810,NaN,20.270594,1007.966652,0.0,33.86,in
...,...,...,...,...,...,...,...,...,...
1170,140.000,6.2700,1153.000000,NaN,125.000000,5354.000000,0.0,420.00,mm
1171,140.000,8.3600,813.000000,NaN,125.000000,5531.000000,0.0,420.00,mm
1172,140.000,8.3600,813.000000,NaN,125.000000,5502.000000,0.0,420.00,mm
1173,140.000,10.4600,773.000000,NaN,125.000000,6339.000000,0.0,420.00,mm
1174,140.000,10.4600,773.000000,NaN,125.000000,6187.000000,0.0,420.00,mm

In [45]:
df_processed['L_units'].unique()

array(['in', 'cm', 'mm'], dtype=object)

In [44]:
# 删除L_units列为ratio_D的行
df_processed = df_processed[df_processed['L_units'] != 'ratio_D']

In [46]:
# array(['in', 'cm', 'mm'], dtype=object)
# 将L列转换为mm
def convert_L_units(value, unit):
    if unit == 'mm':
        return value
    elif unit == 'cm':
        return value * 10
    elif unit == 'in':
        return value * 25.4
    else:
        raise ValueError(f"Unknown unit: {unit}")
def convert_L_units_in_df(data):
    data['L'] = data.apply(lambda row: convert_L_units(row['L'], row['L_units']), axis=1)
    data.drop(columns=['L_units'], inplace=True)
    data.rename(columns={'L': 'L(mm)'}, inplace=True)
    return data
df_processed = convert_L_units_in_df(df_processed)
df_processed

C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\1114643177.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['L'] = data.apply(lambda row: convert_L_units(row['L'], row['L_units']), axis=1)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\1114643177.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['L_units'], inplace=True)
C:\Users\jingh\AppData\Local\Temp\ipykernel_124536\1114643177.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'L': 'L(mm)'}, inplace=True)

,D(mm),t(mm),Fy(MPa),Fu(MPa),fc(MPa),Pexp(kN),et(mm),L(mm)
0,94.996,12.4968,274.618291,NaN,20.270594,947.026038,0.0,1420.114
1,94.996,12.7508,272.618810,NaN,20.270594,937.684776,0.0,1420.114
2,94.996,12.3952,272.618810,NaN,20.270594,906.992058,0.0,1420.114
3,94.996,12.5984,274.618291,NaN,20.270594,1017.752736,0.0,860.044
4,94.996,12.7000,272.618810,NaN,20.270594,1007.966652,0.0,860.044
...,...,...,...,...,...,...,...,...
1170,140.000,6.2700,1153.000000,NaN,125.000000,5354.000000,0.0,420.000
1171,140.000,8.3600,813.000000,NaN,125.000000,5531.000000,0.0,420.000
1172,140.000,8.3600,813.000000,NaN,125.000000,5502.000000,0.0,420.000
1173,140.000,10.4600,773.000000,NaN,125.000000,6339.000000,0.0,420.000
1174,140.000,10.4600,773.000000,NaN,125.000000,6187.000000,0.0,420.000

In [60]:
df_processed = df_processed[[col for col in df_processed.columns if col != 'Pexp(kN)'] + ['Pexp(kN)']]

In [61]:
# 计算Fu(MPa)列不为NaN的行数
fu_not_nan_count = df_processed['Fu(MPa)'].notna().sum()
print(f"Fu(MPa)列不为NaN的行数: {fu_not_nan_count}")

Fu(MPa)列不为NaN的行数: 230

In [62]:
df_with_Fu = df_processed[df_processed['Fu(MPa)'].notna()]      # 0.7728
df_without_Fu = df_processed[df_processed['Fu(MPa)'].isna()]    # 0.8843
df_delete_Fu = df_processed.drop(columns=['Fu(MPa)'])           # 0.8835

In [57]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
data_to_build_model = df_with_Fu.copy()
# 准备数据
X = data_to_build_model.drop(columns=['Pexp(kN)'])
y = data_to_build_model['Pexp(kN)']
# 分割数据集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# 创建XGBoost回归模型
model = XGBRegressor(objective='reg:squarederror', n_estimators=
100, learning_rate=0.1, max_depth=6, random_state=42)
# 训练模型
model.fit(X_train, y_train)
# 预测
y_pred = model.predict(X_test)
# 评估模型
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"均方误差: {mse}")
print(f"R^2: {r2}")

均方误差: 632307.382808905
R^2: 0.7728736619599523

In [63]:
df_delete_Fu.to_csv('CCFT_C+PBC_cylinder.csv', index=False)