In [58]:
import pandas as pd
import numpy as np

df_cs = pd.read_excel('UHPC_original.xlsx', sheet_name='Compressive strength').astype(float)
df_fs = pd.read_excel('UHPC_original.xlsx', sheet_name='Flexural strength').astype(float)
df_p = pd.read_excel('UHPC_original.xlsx', sheet_name='Porosity').astype(float)
df_f = pd.read_excel('UHPC_original.xlsx', sheet_name='Flowability').astype(float)

In [51]:
df_cs

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,Compressive strength
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,100.07
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,105.43
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,103.79
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.3,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,106.87
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.5,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,112.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,150.0,150.0,75.80
622,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,56.0,150.0,150.0,85.00
623,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,112.0,150.0,150.0,92.20
624,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,360.0,150.0,150.0,104.50
625,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,720.0,150.0,150.0,115.90

In [52]:
def clean_duplicates(df: pd.DataFrame, label_col_list: list) -> pd.DataFrame:
    """
    清理重复行，保留每组重复行的第一行，并计算其他行的平均值。

    :param df: 输入的DataFrame
    :param label_col_list: 用于分组的列名列表
    :return: 清理后的DataFrame
    """

    agg_dict = {col: 'mean' for col in label_col_list}
    cols_list = list(df.columns.difference(label_col_list))
    df_merged = (
        df
        .groupby(cols_list, dropna=False, sort=False)  # 若有缺失值也能一起分组
        .agg(agg_dict)
        .reset_index()
    )

    return df_merged

In [59]:
df_cs_cleaned = clean_duplicates(df_cs, ['Compressive strength'])
df_fs_cleaned = clean_duplicates(df_fs, ['Flexural strength'])
df_p_cleaned = clean_duplicates(df_p, ['Porosity'])
df_f_cleaned = clean_duplicates(df_f, ['Flowability'])

In [18]:
df_cs_cleaned

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,Compressive strength
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,100.07
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,105.43
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,103.79
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.3,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,106.87
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.5,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,112.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,150.0,150.0,75.80
604,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,56.0,150.0,150.0,85.00
605,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,112.0,150.0,150.0,92.20
606,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,360.0,150.0,150.0,104.50
607,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,720.0,150.0,150.0,115.90

In [19]:
df_fs_cleaned

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,Flexural strength
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,12.752294
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,14.495413
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,14.174312
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.3,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,15.321101
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.5,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,17.706422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,475.0,42.5,1.0,1.0,0.0,317.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,41.496909
303,317.0,42.5,1.0,1.0,0.0,475.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,34.259079
304,634.0,42.5,1.0,1.0,159.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,38.504096
305,475.0,42.5,1.0,1.0,317.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,34.714269
306,317.0,42.5,1.0,1.0,475.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,32.354542

In [20]:
df_p_cleaned

,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,Porosity
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,173.2,43.3,0.0,0.0,0.0,0.0,0.00,0.0,28.0,12.88
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,159.3,44.0,0.0,0.0,0.0,0.0,0.00,0.0,28.0,12.06
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,147.8,44.6,0.0,0.0,0.0,0.0,0.00,0.0,28.0,12.29
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.3,...,177.4,44.4,0.0,0.0,0.0,0.0,0.00,0.0,28.0,11.30
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.5,...,163.2,45.1,0.0,0.0,0.0,0.0,0.00,0.0,28.0,10.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,960.0,52.5,1.0,1.0,0.0,0.0,144.0,0.0,0.0,717.0,...,163.0,34.0,0.0,0.0,0.0,2.0,0.18,13.0,90.0,2.35
122,768.0,52.5,1.0,1.0,0.0,192.0,144.0,0.0,0.0,717.0,...,163.0,34.0,0.0,0.0,0.0,2.0,0.18,13.0,90.0,2.69
123,576.0,52.5,1.0,1.0,0.0,384.0,144.0,0.0,0.0,717.0,...,163.0,34.0,0.0,0.0,0.0,2.0,0.18,13.0,90.0,2.88
124,384.0,52.5,1.0,1.0,0.0,576.0,144.0,0.0,0.0,717.0,...,163.0,34.0,0.0,0.0,0.0,2.0,0.18,13.0,90.0,2.92
125,192.0,52.5,1.0,1.0,0.0,768.0,144.0,0.0,0.0,717.0,...,163.0,34.0,0.0,0.0,0.0,2.0,0.18,13.0,90.0,2.92

In [21]:
df_f_cleaned

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,Flowability
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.10,...,0.0,173.2,43.3,0.0,0.0,0.0,0.0,0.0,0.0,6.288737
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.20,...,0.0,159.3,44.0,0.0,0.0,0.0,0.0,0.0,0.0,8.947639
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.60,...,0.0,147.8,44.6,0.0,0.0,0.0,0.0,0.0,0.0,11.264783
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.30,...,0.0,177.4,44.4,0.0,0.0,0.0,0.0,0.0,0.0,4.500903
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.50,...,0.0,163.2,45.1,0.0,0.0,0.0,0.0,0.0,0.0,6.827587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,630.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,0.0,535.92,...,0.0,126.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,1.151111
128,630.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,0.0,535.92,...,0.0,144.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,4.041402
129,630.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,0.0,535.92,...,0.0,162.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,6.840000
130,450.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,180.0,535.92,...,0.0,144.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,10.382390
131,270.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,360.0,535.92,...,0.0,144.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,10.743019

In [60]:
list(df_cs_cleaned.columns.intersection(df_fs_cleaned.columns))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [55]:
def combine_dataframes(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    """
    合并两个DataFrame，保留所有样本。

    :param df1: 第一个DataFrame
    :param df2: 第二个DataFrame
    :param on: 用于合并的列名列表
    :param how: 合并方式，默认为'outer'
    :return: 合并后的DataFrame
    """
    cols_list = list(df1.columns.intersection(df2.columns))
    df_final = pd.merge(
        df1,
        df2,
        on=cols_list,
        how='outer',          # outer → 保留所有样本
    )
    return df_final

In [56]:
df_final = combine_dataframes(df_f_cleaned, df_p_cleaned)
df_final = combine_dataframes(df_final, df_cs_cleaned)
df_final = combine_dataframes(df_final, df_fs_cleaned)
df_final

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,Flowability,22,Porosity,23,24,Compressive strength,Flexural strength
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,6.288737,28.0,12.88,40.0,160.0,100.07,12.752294
1,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,6.288737,91.0,11.75,40.0,160.0,108.78,14.220183
2,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,8.947639,28.0,12.06,40.0,160.0,105.43,14.495413
3,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,8.947639,91.0,10.48,40.0,160.0,116.07,16.467890
4,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,0.0,0.0,0.0,11.264783,28.0,12.29,40.0,160.0,103.79,14.174312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788,475.0,42.5,1.0,1.0,0.0,317.0,264.0,0.0,0.0,1056.0,...,2.0,0.2,13.0,NaN,91.0,NaN,40.0,160.0,NaN,41.496909
789,317.0,42.5,1.0,1.0,0.0,475.0,264.0,0.0,0.0,1056.0,...,2.0,0.2,13.0,NaN,91.0,NaN,40.0,160.0,NaN,34.259079
790,634.0,42.5,1.0,1.0,159.0,0.0,264.0,0.0,0.0,1056.0,...,2.0,0.2,13.0,NaN,91.0,NaN,40.0,160.0,NaN,38.504096
791,475.0,42.5,1.0,1.0,317.0,0.0,264.0,0.0,0.0,1056.0,...,2.0,0.2,13.0,NaN,91.0,NaN,40.0,160.0,NaN,34.714269
792,317.0,42.5,1.0,1.0,475.0,0.0,264.0,0.0,0.0,1056.0,...,2.0,0.2,13.0,NaN,91.0,NaN,40.0,160.0,NaN,32.354542

In [39]:
cols_list = list(df_f_cleaned.columns.difference(['Flowability']))

df_final = pd.merge(
    df_p_cleaned,
    df_f_cleaned,
    on=cols_list,
    how='outer',          # outer → 保留所有样本
)
# print(df_final['_merge'].value_counts())
df_final

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,Porosity,Flowability
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.10,...,43.3,0.0,0.0,0.0,0.0,0.0,0.0,28.0,12.88,6.288737
1,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.10,...,43.3,0.0,0.0,0.0,0.0,0.0,0.0,91.0,11.75,6.288737
2,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.20,...,44.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,12.06,8.947639
3,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.20,...,44.0,0.0,0.0,0.0,0.0,0.0,0.0,91.0,10.48,8.947639
4,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.60,...,44.6,0.0,0.0,0.0,0.0,0.0,0.0,28.0,12.29,11.264783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,630.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,0.0,535.92,...,18.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.151111
181,630.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,0.0,535.92,...,18.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,4.041402
182,630.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,0.0,535.92,...,18.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,6.840000
183,450.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,180.0,535.92,...,18.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,10.382390
184,270.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,360.0,535.92,...,18.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,10.743019

In [57]:
df_final = df_final.dropna(subset=['Flowability'])
# 删除df_final中有空值的列
df_final = df_final.dropna(axis=1, how='any')
df_final = clean_duplicates(df_final, ['Flowability'])
df_final

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,Flowability
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.10,...,0.0,173.2,43.3,0.0,0.0,0.0,0.0,0.0,0.0,6.288737
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.20,...,0.0,159.3,44.0,0.0,0.0,0.0,0.0,0.0,0.0,8.947639
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.60,...,0.0,147.8,44.6,0.0,0.0,0.0,0.0,0.0,0.0,11.264783
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.30,...,0.0,177.4,44.4,0.0,0.0,0.0,0.0,0.0,0.0,4.500903
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.50,...,0.0,163.2,45.1,0.0,0.0,0.0,0.0,0.0,0.0,6.827587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,630.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,0.0,535.92,...,0.0,126.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,1.151111
128,630.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,0.0,535.92,...,0.0,144.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,4.041402
129,630.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,0.0,535.92,...,0.0,162.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,6.840000
130,450.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,180.0,535.92,...,0.0,144.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,10.382390
131,270.0,52.5,1.0,1.0,0.0,180.0,90.0,0.0,360.0,535.92,...,0.0,144.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,10.743019

In [4]:
# cols_list = list(df_cs.columns)
# label_col = cols_list.pop()

In [5]:
# df_merged = (
#     df_cs
#     .groupby(cols_list, dropna=False, sort=False)  # 若有缺失值也能一起分组
#     .agg({label_col: 'mean'})
#     .reset_index()
# )

In [6]:
df_merged

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,Compressive strength
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,100.07
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,105.43
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,103.79
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.3,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,106.87
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.5,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,112.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,150.0,150.0,75.80
604,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,56.0,150.0,150.0,85.00
605,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,112.0,150.0,150.0,92.20
606,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,360.0,150.0,150.0,104.50
607,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,720.0,150.0,150.0,115.90

In [7]:
# 1. 先选出所有“存在重复”的行（含首行）
mask_dup_all = df_merged.duplicated(subset=cols_list, keep=False)
dupes = df_merged[mask_dup_all].copy()


# 2. 根据重复列值分组并生成编号
dupes['dup_group'] = dupes.groupby(cols_list, sort=False).ngroup()

# 3. 按 dup_group、原索引排序后查看
dupes = dupes.sort_values(['dup_group'] + cols_list)

dupes

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, Compressive strength, dup_group]
Index: []

[0 rows x 26 columns]

In [4]:
df_fs.duplicated(subset=cols_list).sum()

10

In [4]:
df_final = pd.merge(
    df_cs,
    df_fs,
    on=cols_list,
    how='outer',          # outer → 保留所有样本
    indicator=True
)

In [5]:
df_final

,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,Compressive strength,Flexural strength,_merge
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,0.0,28.0,40.0,160.0,100.07,12.752294,both
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,0.0,28.0,40.0,160.0,105.43,14.495413,both
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,0.0,0.0,0.0,0.0,28.0,40.0,160.0,103.79,14.174312,both
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.3,...,0.0,0.0,0.0,0.0,28.0,40.0,160.0,106.87,15.321101,both
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.5,...,0.0,0.0,0.0,0.0,28.0,40.0,160.0,112.47,17.706422,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,475.0,42.5,1.0,1.0,0.0,317.0,264.0,0.0,0.0,1056.0,...,0.0,2.0,0.2,13.0,91.0,40.0,160.0,NaN,41.496909,right_only
761,317.0,42.5,1.0,1.0,0.0,475.0,264.0,0.0,0.0,1056.0,...,0.0,2.0,0.2,13.0,91.0,40.0,160.0,NaN,34.259079,right_only
762,634.0,42.5,1.0,1.0,159.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,2.0,0.2,13.0,91.0,40.0,160.0,NaN,38.504096,right_only
763,475.0,42.5,1.0,1.0,317.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,2.0,0.2,13.0,91.0,40.0,160.0,NaN,34.714269,right_only
764,317.0,42.5,1.0,1.0,475.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,2.0,0.2,13.0,91.0,40.0,160.0,NaN,32.354542,right_only

In [6]:
df_final.to_csv('UHPC_final.csv', index=False)

In [7]:
# 计算df_final中_merge列中的都有什么值，每个值的数量
df_final['_merge'].value_counts()

left_only     441
both          197
right_only    127
Name: _merge, dtype: int64

In [9]:
# 计算df_final中Compressive strength列中哪些值出现了多次

108.00    8
69.00     5
114.00    5
104.00    5
61.00     5
124.62    4
141.00    4
62.00     4
151.50    3
100.00    3
75.80     3
103.90    3
101.90    2
112.40    2
130.63    2
67.80     2
98.69     2
118.00    2
99.18     2
106.67    2
85.92     2
113.90    2
126.00    2
62.90     2
63.30     2
123.09    2
109.79    2
142.00    2
143.00    2
95.40     2
139.00    2
144.00    2
136.00    2
130.75    2
150.14    2
150.82    2
115.00    2
141.47    2
118.39    2
107.93    2
121.95    2
102.84    2
142.15    2
117.51    2
116.23    2
Name: Compressive strength, dtype: int64

In [8]:
# 删除df_final中Compressive strength列为空的行
df_final_cs = df_final.dropna(subset=['Compressive strength'])
df_final_cs

,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,Compressive strength,Flexural strength
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,100.07,12.752294
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,105.43,14.495413
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,103.79,14.174312
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.3,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,106.87,15.321101
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.5,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,112.47,17.706422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,28.0,150.0,150.0,75.80,NaN
634,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,56.0,150.0,150.0,85.00,NaN
635,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,112.0,150.0,150.0,92.20,NaN
636,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,360.0,150.0,150.0,104.50,NaN
637,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,720.0,150.0,150.0,115.90,NaN

In [8]:
df_fs

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,Flexural strength
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,12.752294
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,14.495413
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,14.174312
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.3,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,15.321101
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.5,...,0.0,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,17.706422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,317.0,42.5,1.0,1.0,0.0,475.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,34.259079
313,792.0,42.5,1.0,1.0,0.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,28.777904
314,634.0,42.5,1.0,1.0,159.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,38.504096
315,475.0,42.5,1.0,1.0,317.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,34.714269
316,317.0,42.5,1.0,1.0,475.0,0.0,264.0,0.0,0.0,1056.0,...,0.0,0.0,0.0,2.0,0.2,13.0,91.0,40.0,160.0,32.354542

In [10]:
df_final_cs.drop_duplicates()
df_final_cs

,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,Compressive strength,Flexural strength
0,582.1,52.5,1.0,0.0,259.9,0.0,0.0,24.3,0.0,1256.1,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,100.07,12.752294
1,591.9,52.5,1.0,0.0,264.3,0.0,0.0,24.7,0.0,1277.2,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,105.43,14.495413
2,600.0,52.5,1.0,0.0,267.9,0.0,0.0,25.0,0.0,1294.6,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,103.79,14.174312
3,596.1,52.5,1.0,0.0,0.0,266.1,0.0,24.8,0.0,1286.3,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,106.87,15.321101
4,606.4,52.5,1.0,0.0,0.0,270.7,0.0,25.3,0.0,1308.5,...,0.0,0.0,0.0,0.0,0.0,28.0,40.0,160.0,112.47,17.706422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,28.0,150.0,150.0,75.80,NaN
634,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,56.0,150.0,150.0,85.00,NaN
635,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,112.0,150.0,150.0,92.20,NaN
636,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,360.0,150.0,150.0,104.50,NaN
637,230.0,42.5,1.0,1.0,250.0,0.0,0.0,20.0,0.0,647.0,...,0.0,0.0,0.0,0.0,0.0,720.0,150.0,150.0,115.90,NaN

In [13]:
# 找出df_cs和df_final_cs之间的差异
df_diff = df_cs.merge(
    df_final_cs,
    on=cols_list,
    how='outer',
    indicator=True
).query('_merge != "both"')

df_diff

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, Compressive strength_x, Compressive strength_y, Flexural strength, _merge]
Index: []

[0 rows x 28 columns]

In [14]:
df_final_cs.duplicated().sum()  # 检查重复行

0